.buy-together-item {
    background: #EBEBF0;
    padding: 50px 0;

    .opacity-3{
        opacity: .3;
    }

    .title {
        font-size: 30px;
        font-family: 'Gotham SSm', sans-serif;
    }

    .subtitle {
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
    }

    .buy-together-main {
        display: flex;
        padding-top: 20px;

        .buy-together-index {
            display: flex;
            gap: 1rem;
            width: 25%;
            position: relative;
            img {
                width: 40%;
                height: 116px;
            }
            .sold-out{
                border: 1px solid #000000;
                position: absolute;
                top: auto;
                left: 9%;
                right: 0;
                bottom: -5px;
                width: 23%;
                text-align: center;
                p{
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                    font-weight: bold;
                    margin-bottom: 0;
                    padding: 3px 5px;
                }
            }

            h2 {
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
                font-weight: bold;
            }

            p {
                font-size: 12px;
                font-family: 'Gotham SSm', sans-serif;
                color: #59595F;
                max-width: 60%;
                text-align: center;
            }

            span {
                font-size: 12px;
                font-family: 'Gotham SSm', sans-serif;
                color: #737279;
            }
        }
        .total-price{
            padding-left: 40px;
            .price-index{
                display: flex;
                justify-content: space-between;
            }

            .total{
                font-weight: bold;
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
            }
            .price{
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
            }

            .addToCartBtn{
                width: 100%;
                display: block;
                button {
                    width: 100%;
                    text-transform: unset;
                    background-color: hsl(267deg 83% 49%);
                    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    transform: scale(1);
                    transition: .3s ease-in-out;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    padding: 9px 0;

                    &:hover {
                        background-color: hsl(266deg 90% 42%);
                        transform: scale(1.025);
                    }
                }
            }
        }
    }
}