.buy-together-item {
  background: #EBEBF0;
  padding: 50px 0;
}
.buy-together-item .opacity-3 {
  opacity: 0.3;
}
.buy-together-item .title {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
}
.buy-together-item .subtitle {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}
.buy-together-item .buy-together-main {
  display: flex;
  padding-top: 20px;
}
.buy-together-item .buy-together-main .buy-together-index {
  display: flex;
  gap: 1rem;
  width: 25%;
  position: relative;
}
.buy-together-item .buy-together-main .buy-together-index img {
  width: 40%;
  height: 116px;
}
.buy-together-item .buy-together-main .buy-together-index .sold-out {
  border: 1px solid #000000;
  position: absolute;
  top: auto;
  left: 9%;
  right: 0;
  bottom: -5px;
  width: 23%;
  text-align: center;
}
.buy-together-item .buy-together-main .buy-together-index .sold-out p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  padding: 3px 5px;
}
.buy-together-item .buy-together-main .buy-together-index h2 {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.buy-together-item .buy-together-main .buy-together-index p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: #59595F;
  max-width: 60%;
  text-align: center;
}
.buy-together-item .buy-together-main .buy-together-index span {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: #737279;
}
.buy-together-item .buy-together-main .total-price {
  padding-left: 40px;
}
.buy-together-item .buy-together-main .total-price .price-index {
  display: flex;
  justify-content: space-between;
}
.buy-together-item .buy-together-main .total-price .total {
  font-weight: bold;
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
}
.buy-together-item .buy-together-main .total-price .price {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
}
.buy-together-item .buy-together-main .total-price .addToCartBtn {
  width: 100%;
  display: block;
}
.buy-together-item .buy-together-main .total-price .addToCartBtn button {
  width: 100%;
  text-transform: unset;
  background-color: hsl(267, 83%, 49%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition: 0.3s ease-in-out;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  padding: 9px 0;
}
.buy-together-item .buy-together-main .total-price .addToCartBtn button:hover {
  background-color: hsl(266, 90%, 42%);
  transform: scale(1.025);
}

@media screen and (max-width: 576px) {
  .buy-together-item .title {
    font-size: 24px;
    font-weight: bold;
  }
  .buy-together-item .subtitle {
    max-width: 77%;
  }
  .buy-together-item .buy-together-main {
    flex-wrap: wrap;
  }
  .buy-together-item .buy-together-main .buy-together-index {
    width: 100% !important;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .buy-together-item .buy-together-main .buy-together-index p {
    max-width: 100%;
  }
  .buy-together-item .buy-together-main .buy-together-index img {
    width: 23%;
    height: 111px;
  }
  .buy-together-item .buy-together-main .buy-together-index .sold-out {
    left: 4%;
    right: 0;
    bottom: 19%;
    width: 18%;
  }
  .buy-together-item .buy-together-main .total-price {
    margin: 0 auto;
    padding-left: 0 !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .buy-together-item .title {
    font-size: 24px;
    font-weight: bold;
  }
  .buy-together-item .subtitle {
    max-width: 77%;
  }
  .buy-together-item .buy-together-main {
    flex-wrap: wrap;
  }
  .buy-together-item .buy-together-main .buy-together-index {
    width: 100% !important;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .buy-together-item .buy-together-main .buy-together-index p {
    max-width: 100%;
  }
  .buy-together-item .buy-together-main .buy-together-index img {
    width: 23%;
    height: 111px;
  }
  .buy-together-item .buy-together-main .buy-together-index .sold-out {
    left: 4%;
    right: 0;
    bottom: 19%;
    width: 18%;
  }
  .buy-together-item .buy-together-main .total-price {
    margin: 0 auto;
    padding-left: 0 !important;
  }
}/*# sourceMappingURL=buy-together.css.map */