.buy-together-item {
    background: #EBEBF0;
    padding: 50px 0;

    .opacity-3{
        opacity: .3;
    }

    .title {
        font-size: 30px;
        font-family: 'Gotham SSm', sans-serif;
    }

    .subtitle {
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
    }

    .buy-together-main {
        display: flex;
        padding-top: 20px;

        .buy-together-index {
            display: flex;
            gap: 1rem;
            width: 25%;
            position: relative;
            img {
                width: 40%;
                height: 116px;
            }
            .sold-out{
                border: 1px solid #000000;
                position: absolute;
                top: auto;
                left: 9%;
                right: 0;
                bottom: -5px;
                width: 23%;
                text-align: center;
                p{
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                    font-weight: bold;
                    margin-bottom: 0;
                    padding: 3px 5px;
                }
            }

            h2 {
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
                font-weight: bold;
            }

            p {
                font-size: 12px;
                font-family: 'Gotham SSm', sans-serif;
                color: #59595F;
                max-width: 60%;
                text-align: center;
            }

            span {
                font-size: 12px;
                font-family: 'Gotham SSm', sans-serif;
                color: #737279;
            }
        }
        .total-price{
            padding-left: 40px;
            .price-index{
                display: flex;
                justify-content: space-between;
            }

            .total{
                font-weight: bold;
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
            }
            .price{
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
            }

            .addToCartBtn{
                width: 100%;
                display: block;
                button {
                    width: 100%;
                    text-transform: unset;
                    background-color: hsl(267deg 83% 49%);
                    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    transform: scale(1);
                    transition: .3s ease-in-out;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    padding: 9px 0;

                    &:hover {
                        background-color: hsl(266deg 90% 42%);
                        transform: scale(1.025);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                width: 100% !important;
                padding-bottom: 50px;
                padding-left: 80px;
                p{
                    max-width: 100%;
                }

                img{
                    width: 30%;
                    height: 111px;
                }
                .sold-out{
                    left: 22%;
                    right: 0;
                    bottom: 19%;
                    width: 18%;
                }
            }
            .total-price{
                margin: 0 auto;
                padding-left: 0 !important;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                width: 83% !important;
                padding-bottom: 50px;
                padding-left: 80px;
                margin: 0 auto;
                p{
                    max-width: 100%;
                }

                img{
                    width: 30%;
                    height: 111px;
                }
                .sold-out{
                    left: 22%;
                    right: 0;
                    bottom: 24%;
                    width: 15%;
                }
            }
            .total-price{
                margin: 0 auto;
                padding-left: 0 !important;
                width: 60%;
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                padding-bottom: 50px;
                .item-content{
                    margin-right: 10px;
                }
                p{
                    max-width: 100%;
                }

                img{
                    width: 100%;
                    height: 111px;
                }
                .sold-out{
                    left: 13%;
                    right: 0;
                    bottom: 40%;
                    width: 33%;
                }
            }
            .total-price{
                .price-index{
                    flex-direction: column !important; 
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                padding-bottom: 50px;
                .item-content{
                    margin-right: 10px;
                }
                p{
                    max-width: 89%;
                }

                img{
                    width: 40%;
                    height: 111px;
                }
                .sold-out{
                    left: 5%;
                    right: 0;
                    bottom: 29%;
                    width: 33%;
                }
            }
            .total-price{
                .price-index{
                    flex-direction: column !important; 
                }
            }
        }
    }
}
@media screen and (min-width: 1200px)  {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                padding-bottom: 50px;
                .item-content{
                    margin-right: 10px;
                }
                p{
                    max-width: 89%;
                }

                img{
                    width: 38%;
                    height: 111px;
                }
                .sold-out{
                    left: 5%;
                    right: 0;
                    bottom: 29%;
                    width: 33%;
                }
            }
            .total-price{
                .price-index{
                    flex-direction: column !important; 
                }
            }
        }
    }
}
@media screen and (min-width: 1500px)  {
    .buy-together-item{
        .title{
            font-size: 24px;
            font-weight: bold;
        }
        .subtitle{
            max-width: 77%;
        }
        .buy-together-main{
            flex-wrap: wrap;
            .buy-together-index{
                padding-bottom: 50px;
                .item-content{
                    margin-right: 10px;
                }
                p{
                    max-width: 89%;
                }

                img{
                    width: 38%;
                    height: 111px;
                }
                .sold-out{
                    left: 5%;
                    right: 0;
                    bottom: 29%;
                    width: 33%;
                }
            }
            .total-price{
                .price-index{
                    flex-direction: column !important; 
                }
            }
        }
    }
}