.cart-index .cart-order .cart-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.cart-index .cart-order .cart-flex h1 {
  font-family: "Gotham SSm", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.cart-index .cart-order .cart-flex .cart-quantity {
  margin-bottom: 0;
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
}
.cart-index .cart-order .cart-main ul {
  padding-left: 0;
}
.cart-index .cart-order .cart-main ul li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-top: 1px solid #dcdbe6;
}
.cart-index .cart-order .cart-main ul li .cart-image {
  width: 20%;
}
.cart-index .cart-order .cart-main ul li .cart-image img {
  width: 60%;
}
.cart-index .cart-order .cart-main ul li .cart-content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;

}
.cart-index .cart-order .cart-main ul li .cart-content .title {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.cart-index .cart-order .cart-main ul li .cart-content .remove-item {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}
.cart-index .cart-order .cart-main ul li .cart-content .increase__decrease-btn {
  padding: 8px 5px;
  border-radius: 5px;
  border: 1px solid #dcdbe6;
}
.cart-index .cart-order .cart-main ul li .cart-content .increase__btn,
.cart-index .cart-order .cart-main ul li .cart-content .decrease__btn {
  cursor: pointer;
}
.cart-index .cart-order .cart-main ul li .cart-content .delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.cart-index .cart-order .cart-main ul li .quantity-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}
.cart-index .cart-total {
  margin-top: 60px;
}
.cart-index .cart-total .pay-later-card {
  background: #E6E6FA;
  padding: 10px 0;
  border-radius: 7px;
  margin-bottom: 15px;
}
.cart-index .cart-total .pay-later-card img {
  width: 12%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}
.cart-index .cart-total .pay-later-card .pay-title {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5rem;
}
.cart-index .cart-total .pay-later-card .description {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  text-align: center;
}
.cart-index .cart-total .total-card {
  background: #F6F6F9;
  padding: 10px 20px;
  border-radius: 7px;
}
.cart-index .cart-total .total-card .subtotal-flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dcdbe6;
  padding-bottom: 8px;
}
.cart-index .cart-total .total-card .subtotal-flex .subtotal {
  font-family: "Gotham SSm", sans-serif;
  font-size: 18px;
}
.cart-index .cart-total .total-card .subtotal-flex .price {
  font-family: "Gotham SSm", sans-serif;
  font-size: 18px;
  color: #000000;
}
.cart-index .cart-total .total-card .taxes-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.cart-index .cart-total .total-card .taxes-flex .taxes {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.cart-index .cart-total .total-card .shipping-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.cart-index .cart-total .total-card .shipping-flex .shipping {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.cart-index .cart-total .total-card .affirm-text {
  display: flex;
  align-items: center;
}
.cart-index .cart-total .total-card .affirm-text img {
  width: 10%;
  margin-top: -8px;
  margin-left: 3px;
  margin-right: 3px;
}
.cart-index .cart-total .total-card .affirm-text span {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.cart-index .cart-total .total-card .affirm-text span a {
  text-decoration: none;
}
.cart-index .cart-total .total-card .affirm-text span a:hover {
  text-decoration: underline;
}
.cart-index .cart-total .total-card .checkout-btn button {
  padding: 8px 15px;
  font-family: "Gotham SSm", sans-serif;
  font-size: 18px;
  text-transform: none;
  background-color: hsl(267, 83%, 49%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  transform: scale(0.98);
  transition: 0.1s ease-in;
  width: 100%;
  margin-top: 12px;
}
.cart-index .cart-total .total-card .checkout-btn button:hover {
  transform: scale(1);
  background: #5E0BCB;
}
.cart-index .cart-total .total-card .bottom-content {
  margin-top: 15px;
  margin-bottom: 8px;
  background: #EBEBF0;
  padding: 10px 20px;
}
.cart-index .cart-total .total-card .bottom-content em {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: #313235;
}

.cart-empty {
  margin-top: 60px;
}
.cart-empty .cart-base {
  background: #F5F5F8;
  text-align: center;
  padding: 50px 0;
}
.cart-empty .cart-base h3 {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.cart-empty .cart-base p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  max-width: 35%;
  margin: 0 auto;
  padding-bottom: 15px;
}
.cart-empty .cart-base .continue-shopping {
  background: hsl(267, 83%, 49%);
  text-transform: none;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  padding: 9px 35px;
  border-radius: 6px;
}

.card-thumbnail {
  margin-top: 20px;
}
.card-thumbnail .card-index {
  display: flex;
  gap: 1.4rem;
}
.card-thumbnail .card-index .card-item {
  background: #F5F5F8;
}
.card-thumbnail .card-index .card-item img {
  padding-top: 20px;
  width: 100%;
}
.card-thumbnail .card-index .card-item .card-body {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
}
.card-thumbnail .card-index .card-item .card-body h3 {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.card-thumbnail .card-index .card-item .card-body a {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: #7315e5;
  text-decoration: none;
}
.card-thumbnail .card-index .card-item .card-body a:hover {
  text-decoration: underline;
}

.content-grid-block .image-block img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-grid-block .content-main-block {
  position: relative;
}
.content-grid-block .content-main-block .content-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 576px) {
  .card-thumbnail .card-index {
    flex-wrap: wrap;
  }
  .card-thumbnail .card-index .card-item img {
    width: 55%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .card-thumbnail .card-index {
    flex-wrap: wrap;
  }
  .card-thumbnail .card-index .card-item img {
    width: 55%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .card-thumbnail .card-index {
    flex-wrap: wrap;
  }
  .card-thumbnail .card-index .card-item img {
    width: 55%;
    display: block;
    margin: 0 auto;
  }
  .cart-index .cart-item .cart-image {
    width: 10% !important;
  }
  .cart-index .cart-item .cart-image img {
    width: 80% !important;
  }
  .cart-index .cart-item .cart-content {
    width: 90% !important;
  }
  .pay-later-card {
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .pay-later-card img {
    width: 9% !important;
  }
  .total-card {
    border-radius: 10px;
  }
  .total-card .affirm-text span {
    display: block;
    width: 100%;
  }
  .total-card .affirm-text img {
    width: 8%;
  }
  .total-card .checkout-btn button {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .cart-order {
    width: 67% !important;
  }
  .cart-total {
    width: 33% !important;
  }
  .cart-index .cart-item .cart-image {
    width: 10% !important;
  }
  .cart-index .cart-item .cart-image img {
    width: 80% !important;
  }
  .cart-index .cart-item .cart-content {
    width: 90% !important;
  }
  .pay-later-card {
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .pay-later-card img {
    width: 9% !important;
  }
  .total-card {
    border-radius: 10px;
  }
  .total-card .affirm-text span {
    display: block;
    width: 100%;
  }
  .total-card .affirm-text img {
    width: 8%;
  }
  .total-card .checkout-btn button {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=cart.css.map */