.newsletter-index {
  padding: 70px 0;
  background-color: hsl(210, 7%, 11%);
}
.newsletter-index h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  font-family: "Gotham SSm", sans-serif;
  padding-left: 40px;
}
.newsletter-index p {
  padding-left: 40px;
  color: #fff;
  font-family: "Gotham SSm", sans-serif;
}
.newsletter-index .input-area {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  align-items: center;
}
.newsletter-index .input-area input {
  width: 70%;
  height: 2.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
}
.newsletter-index .input-area button {
  border: 1px solid #fff;
  color: #fff;
  padding: 8px 24px;
}
.newsletter-index .check-privacy {
  padding-top: 5px;
  padding-left: 10px;
}
.newsletter-index .check-privacy .nextui-checkbox-container {
  background: white;
  border: 1px solid white;
  color: hsl(267, 83%, 49%) !important;
}
.newsletter-index .check-privacy .checkbox-index .nextui-checkbox-text {
  color: #fff;
  font-family: "Gotham SSm", sans-serif;
  font-size: 10px;
}
.newsletter-index .check-privacy .checkbox-index .nextui-checkbox-text a {
  text-decoration: none;
  padding: 0 4px;
}

footer {
  background-color: hsl(210, 7%, 11%);
}
footer .footer-index {
  padding: 0 3rem;
}
footer .accordion-main {
  display: none;
}
footer .text-hover:hover {
  color: white !important;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
}
footer .footer-wrapper .social-area {
  padding-left: 20px;
}
footer .footer-wrapper .social-area a {
  padding-right: 6px !important;
}
footer .footer-wrapper .social-area a:hover svg {
  color: hsl(259, 100%, 81%);
}
footer .footer-wrapper .social-area svg {
  transition: 0.3s ease-in-out;
  margin-right: 15px;
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(156, 163, 175);
}
footer .footer-wrapper .input-wrapper fieldset {
  display: flex;
  gap: 2rem;
}
footer .footer-wrapper .input-wrapper fieldset .select-box {
  display: flex;
  gap: 1rem;
}
footer .footer-wrapper .input-wrapper fieldset .select-box select {
  background: transparent;
  color: white;
  border-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
footer .footer-wrapper .input-wrapper fieldset .flex-grow label {
  font-family: "Gotham SSm", sans-serif;
  font-size: 10px;
  color: #9ca3af;
  text-transform: uppercase;
}
footer .footer-link {
  display: flex;
  padding-top: 31px;
}
footer .footer-link .menu-title {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 6px;
}
footer .footer-link .footer-menu ul {
  padding-left: 0;
}
footer .footer-link .footer-menu ul li {
  list-style: none;
  padding-bottom: 12px;
}
footer .footer-link .footer-menu ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: #91919C;
}
footer .footer-bottom {
  padding-top: 95px;
}
footer .footer-bottom .brand {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
footer .footer-bottom .text-main {
  display: flex;
  gap: 2rem;
}
footer .footer-bottom .text-main .text-nzxt:hover {
  color: #91919C;
}
footer .footer-bottom .text-main p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: #92919C;
}
footer .footer-bottom .text-main p:hover {
  color: #fff;
}
footer .footer-bottom .text-main a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .newsletter-index h2 {
    font-size: 30px;
  }
  .newsletter-index .input-area input {
    width: 100%;
  }
  .newsletter-index .input-area button {
    width: 100%;
  }
  footer .footer-link {
    display: none;
  }
  footer .footer-wrapper .social-area {
    display: none;
  }
  footer .footer-wrapper .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:first-child {
    width: 40%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:last-child {
    width: 60%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow .select-box {
    justify-content: space-between;
  }
  footer .footer-bottom p,
  footer .footer-bottom a {
    width: 100%;
    text-align: center;
  }
  footer .footer-bottom .text-main {
    gap: 0;
    flex-wrap: wrap;
  }
  footer .accordion-main {
    background-color: hsl(210, 7%, 11%);
    margin: 4px 0;
    display: block;
  }
  footer .accordion-main svg {
    color: #fff;
  }
  footer .accordion-main .menu-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
  }
  footer .accordion-main .accordion-summary {
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #fff;
  }
  footer .accordion-main .accordion-detail {
    padding: 8px 3px 16px;
  }
  footer .accordion-main ul {
    padding: 0;
  }
  footer .accordion-main ul li {
    padding-bottom: 11px;
    list-style: none;
  }
  footer .accordion-main ul li a {
    color: #91919c;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  footer .accordion-main ul li a:hover {
    color: #fff;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .newsletter-index h2 {
    font-size: 30px;
  }
  .newsletter-index .input-area input {
    width: 100%;
  }
  .newsletter-index .input-area button {
    width: 100%;
  }
  footer .footer-link {
    display: none;
  }
  footer .footer-wrapper .social-area {
    display: none;
  }
  footer .footer-wrapper .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:first-child {
    width: 40%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:last-child {
    width: 60%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow .select-box {
    justify-content: space-between;
  }
  footer .footer-bottom p,
  footer .footer-bottom a {
    width: 100%;
    text-align: center;
  }
  footer .footer-bottom .text-main {
    gap: 0;
    flex-wrap: wrap;
  }
  footer .accordion-main {
    background-color: hsl(210, 7%, 11%);
    margin: 4px 0;
    display: block;
  }
  footer .accordion-main svg {
    color: #fff;
  }
  footer .accordion-main .menu-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
  }
  footer .accordion-main .accordion-summary {
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #fff;
  }
  footer .accordion-main .accordion-detail {
    padding: 8px 3px 16px;
  }
  footer .accordion-main ul {
    padding: 0;
  }
  footer .accordion-main ul li {
    padding-bottom: 11px;
    list-style: none;
  }
  footer .accordion-main ul li a {
    color: #91919c;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  footer .accordion-main ul li a:hover {
    color: #fff;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .newsletter-index h2 {
    font-size: 30px;
  }
  .newsletter-index .input-area input {
    width: 100%;
  }
  .newsletter-index .input-area button {
    width: 100%;
  }
  footer .footer-link {
    display: none;
  }
  footer .footer-wrapper .social-area {
    display: none;
  }
  footer .footer-wrapper .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:first-child {
    width: 40%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow:last-child {
    width: 60%;
  }
  footer .footer-wrapper .input-wrapper .flex-grow .select-box {
    justify-content: space-between;
  }
  footer .footer-bottom p,
  footer .footer-bottom a {
    width: 100%;
    text-align: center;
  }
  footer .footer-bottom .text-main {
    gap: 0;
    flex-wrap: wrap;
  }
  footer .accordion-main {
    background-color: hsl(210, 7%, 11%);
    margin: 4px 0;
    display: block;
  }
  footer .accordion-main svg {
    color: #fff;
  }
  footer .accordion-main .menu-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
  }
  footer .accordion-main .accordion-summary {
    padding-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #fff;
  }
  footer .accordion-main .accordion-detail {
    padding: 8px 3px 16px;
  }
  footer .accordion-main ul {
    padding: 0;
  }
  footer .accordion-main ul li {
    padding-bottom: 11px;
    list-style: none;
  }
  footer .accordion-main ul li a {
    color: #91919c;
    font-size: 14px;
    font-family: "Gotham SSm", sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  footer .accordion-main ul li a:hover {
    color: #fff;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  footer .footer-link {
    flex-wrap: wrap;
  }
  .newsletter-index .nextui-checkbox-text {
    flex-wrap: wrap !important;
    justify-content: left;
  }
  .newsletter-index .nextui-checkbox-text a:last-child {
    padding: 0 !important;
  }
}/*# sourceMappingURL=footer.css.map */