header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    .nav__top {
        background-color: #8A00FC;
        text-align: center;
        padding: 15px 0;

        p {
            font-size: 12px;
            font-family: 'Gotham SSm', sans-serif;
            color: #ffff;
            margin-bottom: 0;
        }
    }

    .main__nav {
        background: #313235;
        padding: 10px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .nav-logo{
            margin-bottom: 6px;
            svg{
                width: 4rem;
                fill: white;
            }
        }


        .start__main{
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;
            align-items: center;
            padding-left: 43px;
            margin-bottom: 0;
            gap: 1.3rem;

            li {
                list-style: none;
                button {
                    text-transform: none;
                    font-size: 14px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: #ffff;
                }
            }
        }

        .nav__end{
            display: flex;
            gap: .9rem;
            svg {
                fill: white;
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }
}


@media screen and (max-width: 576px){
    header{
        .main__nav{
            ul{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    header{
        .main__nav{
            ul{
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header{
        .main__nav{
            ul{
                display: none;
            }
        }
    }
}