header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
}
header .nav__top {
  background-color: #8A00FC;
  text-align: center;
  padding: 15px 0;
}
header .nav__top p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  margin-bottom: 0;
}
header .main__nav {
  background: #313235;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main__nav .nav-logo {
  margin-bottom: 6px;
}
header .main__nav .nav-logo svg {
  width: 4rem;
  fill: white;
}
header .main__nav .start__main {
  display: flex;
  align-items: center;
}
header .main__nav ul {
  display: flex;
  align-items: center;
  padding-left: 43px;
  margin-bottom: 0;
  gap: 1.3rem;
}
header .main__nav ul li {
  list-style: none;
}
header .main__nav ul li button {
  text-transform: none;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
header .main__nav ul li button .arrow-bottom {
  margin-left: 4px;
}
header .main__nav .nav__end {
  display: flex;
  gap: 0.9rem;
}
header .main__nav .nav__end svg {
  fill: white;
  width: 1.4rem;
  height: 1.4rem;
}

.dropdown-toggle {
  background: transparent !important;
  border: none !important;
}

.dropdown {
  background: transparent !important;
}
.dropdown .dropdown-menu {
  background: #313235;
  transform: translate3d(0px, 52.8px, 0px) !important;
}
.dropdown .dropdown-center {
  display: flex;
  gap: 1.5rem;
}
.dropdown .dropdown-item:hover {
  background: transparent;
}
.dropdown .dropdown-item .item-header {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
}
.dropdown .dropdown-item .item-header svg {
  margin-right: 7px;
}
.dropdown .dropdown-item .item-body {
  padding-left: 10px;
}
.dropdown .dropdown-item .item-body .title {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.dropdown .dropdown-item .item-body .desc {
  font-size: 10px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.dropdown .dropdown-item .item-body a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-bottom: 15px;
}
.dropdown .dropdown-thumbnail {
  background: #000;
  margin-bottom: 70px;
  margin-top: 39px;
  width: 264px;
  margin-right: 14px;
  border-radius: 8px;
}
.dropdown .dropdown-thumbnail img {
  width: 263px;
  height: 51%;
}
.dropdown .dropdown-thumbnail .dropdown__thumbnail-content {
  margin-bottom: 4rem;
  padding-top: 15px;
}

@media screen and (max-width: 576px) {
  header .main__nav ul {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header .main__nav ul {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header .main__nav ul {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header .main__nav {
    padding: 10px 24px;
  }
  header .main__nav ul {
    gap: 1.1rem;
  }
}
@media only screen and (min-width: 1280px) {
  header .main__nav {
    padding: 10px 60px;
  }
}
@media only screen and (min-width: 1540px) {
  header .main__nav {
    padding: 10px 225px;
  }
}/*# sourceMappingURL=header.css.map */