header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;

    .nav__top {
        background-color: #8A00FC;
        text-align: center;
        padding: 15px 0;

        p {
            font-size: 12px;
            font-family: 'Gotham SSm', sans-serif;
            color: #ffff;
            margin-bottom: 0;
        }
    }

    .main__nav {
        background: #313235;
        padding: 10px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .nav-logo {
            margin-bottom: 6px;

            svg {
                width: 4rem;
                fill: white;
            }
        }


        .start__main {
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;
            align-items: center;
            padding-left: 43px;
            margin-bottom: 0;
            gap: 0.1rem;

            li {
                list-style: none;

                button {
                    text-transform: none;
                    font-size: 14px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: #ffff;

                    .arrow-bottom {
                        margin-left: 4px;
                    }
                }
            }
        }

        .nav__end {
            display: flex;
            gap: .9rem;

            svg {
                fill: white;
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }
}

.dropdown-toggle {
    background: transparent !important;
    border: none !important;

    &::after {
        border: 0 !important;
    }

    svg {
        margin-left: 6px;
    }
}

.dropdown {
    background: transparent !important;

    .dropdown-menu {
        background: #313235;

        transform: translate3d(0px, 52.8px, 0px) !important;
    }

    .dropdown-center {
        display: flex;
        gap: 1.5rem;
    }

    .dropdown-item {

        &:hover {
            background: transparent;
        }

        .item-header {
            text-transform: uppercase;
            font-size: 14px;
            font-family: 'Gotham SSm', sans-serif;
            color: #ffff;

            svg {
                margin-right: 7px;
            }

            padding-top: 10px;
            padding-bottom: 15px;
        }

        .item-body {
            padding-left: 10px;

            .title {
                font-size: 14px;
                font-family: 'Gotham SSm', sans-serif;
                color: #ffff;
                width: 100%;
            }

            .desc {
                font-size: 10px;
                font-family: 'Gotham SSm', sans-serif;
                color: #ffff;
            }

            a {
                display: flex;
                text-decoration: none;
                padding-bottom: 15px;
            }

            .content {
                display: flex;
                flex-wrap: wrap;
            }

            img {
                width: 30%;
            }
        }
    }

    .dropdown-thumbnail {
        background: #000;
        margin-bottom: 70px;
        margin-top: 39px;
        width: 264px;
        margin-right: 14px;
        border-radius: 8px;

        img {
            width: 263px;
            height: 51%;
        }

        .dropdown__thumbnail-content {
            margin-bottom: 4rem;
            padding-top: 15px;
        }
    }

    .dropdown-thumbnail.only-one {
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}


@media screen and (max-width: 576px) {
    header {
        .main__nav {
            ul {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    header {
        .main__nav {
            ul {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    header {
        .main__nav {
            ul {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        .main__nav {
            padding: 10px 24px;

            ul {
                gap: 1.1rem;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    header {
        .main__nav {
            padding: 10px 60px;
        }
    }
}

@media only screen and (min-width: 1540px) {
    header {
        .main__nav {
            padding: 10px 225px;
        }
    }
}