header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999999;
}
header .nav__top {
  background-color: #8A00FC;
  text-align: center;
  padding: 15px 0;
}
header .nav__top p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  margin-bottom: 0;
}
header .main__nav {
  background: #313235;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main__nav .nav-logo {
  margin-bottom: 6px;
}
header .main__nav .nav-logo svg {
  width: 4rem;
  fill: white;
}
header .main__nav .start__main {
  display: flex;
  align-items: center;
}
header .main__nav ul {
  display: flex;
  align-items: center;
  padding-left: 43px;
  margin-bottom: 0;
  gap: 0.1rem;
}
header .main__nav ul li {
  list-style: none;
}
header .main__nav ul li button {
  text-transform: none;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
header .main__nav ul li button .arrow-bottom {
  margin-left: 4px;
}
header .main__nav .nav__end {
  display: flex;
  gap: 0.9rem;
}
header .main__nav .nav__end svg {
  fill: white;
  width: 1.4rem;
  height: 1.4rem;
}

.search-box {
  width: 100%;
  max-width: 100%;
}
.search-box .MuiPaper-root {
  width: 100%;
  left: 0 !important;
  max-width: 100%;
}
.search-box .MuiPaper-root ul li input {
  width: 100%;
  border: none;
}

.dropdown-toggle {
  background: transparent !important;
  border: none !important;
}
.dropdown-toggle::after {
  border: 0 !important;
}
.dropdown-toggle svg {
  margin-left: 6px;
}

.dropdown {
  background: transparent !important;
}
.dropdown .dropdown-menu {
  background: #313235;
  transform: translate3d(0px, 52.8px, 0px) !important;
}
.dropdown .dropdown-center {
  display: flex;
  gap: 1.5rem;
}
.dropdown .dropdown-item:hover {
  background: transparent;
}
.dropdown .dropdown-item .item-header {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
}
.dropdown .dropdown-item .item-header svg {
  margin-right: 7px;
}
.dropdown .dropdown-item .item-body {
  padding-left: 10px;
}
.dropdown .dropdown-item .item-body .title {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  width: 100%;
}
.dropdown .dropdown-item .item-body .desc {
  font-size: 10px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.dropdown .dropdown-item .item-body a {
  display: flex;
  text-decoration: none;
  padding-bottom: 15px;
}
.dropdown .dropdown-item .item-body .content {
  display: flex;
  flex-wrap: wrap;
}
.dropdown .dropdown-item .item-body img {
  width: 30%;
}
.dropdown .dropdown-thumbnail {
  background: #000;
  margin-bottom: 70px;
  margin-top: 39px;
  width: 264px;
  margin-right: 14px;
  border-radius: 8px;
}
.dropdown .dropdown-thumbnail img {
  width: 263px;
  height: 51%;
}
.dropdown .dropdown-thumbnail .dropdown__thumbnail-content {
  margin-bottom: 4rem;
  padding-top: 15px;
}
.dropdown .dropdown-thumbnail.only-one {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

@media screen and (max-width: 576px) {
  header .main__nav {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  header .main__nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  header .main__nav {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header .main__nav {
    padding: 10px 24px;
  }
  header .main__nav ul {
    gap: 0;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  header .main__nav {
    padding: 10px 60px;
  }
}
@media only screen and (min-width: 1540px) {
  header .main__nav {
    padding: 10px 225px;
  }
}
.search__toggle {
  padding: 0 !important;
}

.search-box {
  position: fixed !important;
  top: 48px !important;
  left: 0 !important;
  width: 100% !important;
  padding-left: 3rem !important;
  background: #494851 !important;
  border-radius: 0 !important;
}
.search-box form {
  cursor: text !important;
}
.search-box .search-icon {
  margin-right: 10px;
  width: 1rem !important;
  height: 1rem !important;
}
.search-box input {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  padding: 3px 0;
}/*# sourceMappingURL=header.css.map */