.home__index {
    position: relative;

    .background-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 660px;
        object-fit: cover;
    }

    .home__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-img {
        width: 100%;
        height: 659px;
    }

    .home__text {
        padding-left: 80px;

        h1 {
            font-size: 48px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        p {
            font-size: 30px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        img {
            width: 32%;
        }

        button {
            padding: 8px 15px;
            font-family: 'Gotham SSm', sans-serif;
            font-size: 18px;
            text-transform: none;
            background-color: hsl(267deg 83% 49%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
            border-radius: 0.375rem;
            transform: scale(0.98);
            transition: .1s ease-in;

            &:hover {
                transform: scale(1);
                background: #5E0BCB;
            }
        }
    }
}

.player-two-card {
    .two-card-item {
        display: flex;
        gap: 1.3rem;
        padding-top: 66px;

        .card-item {
            width: 28%;

            .card-thumbnail {
                background: #F6F6F9;
                padding-top: 35px;
                padding-bottom: 35px;

                img {
                    width: 71%;
                    display: flex;
                    margin: 0 auto;
                }
            }

            .card-header {
                .card-title {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: 'Gotham SSm', sans-serif;
                }

                .subtitle {
                    color: #737279;
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .card-main {
                .main-title {
                    font-size: 12px;
                    font-weight: bold;
                    font-family: 'Gotham SSm', sans-serif;
                }

                .main-text {
                    color: #737279;
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .card-price {
                p {
                    color: #000000;
                    font-size: 14px;
                    font-family: 'Gotham SSm';
                }
            }

            .shop-btn {
                button {
                    width: 100%;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
                    background-color: hsl(267deg 83% 49%);
                    border-radius: 0.375rem;
                    font-size: 16px;
                    text-transform: none;
                    transform: scale(0.98);
                    transition: .1s ease-in;

                    &:hover {
                        transform: scale(1);
                        background-color: hsl(266deg 90% 42%)
                    }
                }
            }
        }

        .thumbnail__end {
            width: 30%;
            height: 100%;

            .background-sr{
                display: none;
            }

            .thumbnail-img {
                width: 100%;
                height: 360px;
            }

            .card-body {
                height: 100%;
                background: black;

                img {
                    padding-top: 20px;
                    margin-left: 33px;
                    width: 40%;
                    height: 100%;
                    fill: white;
                    color: white;
                }

                p {
                    color: white;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                }

                button {
                    color: white;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    text-transform: none;
                    border: 1px solid #ffff;
                }

                .content {
                    padding: 30px 34px;
                }
            }
        }
    }
}

.promo__banner {
    margin-top: 128px;

    .image-block {
        display: block;
        overflow: hidden;

        .banner-main {
            width: 100%;
            height: 50%;

        }

        .promo-block {
            position: relative;
        }

        .promo-img {
            position: absolute;
            top: -384px;
            width: 37%;
        }

        .promo-content-index {
            position: relative;

            .promo-content {
                position: absolute;
                top: -327px;
                left: auto;
                right: 0;
                bottom: 0;

                img {
                    width: 33%;
                }

                h3 {
                    font-size: 30px;
                    font-family: 'Gotham SSm', sans-serif;
                    font-weight: bold;
                    color: white;
                    padding: 7px 0;
                }

                .description {
                    font-size: 18px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: white;
                    max-width: 65%;
                    padding-bottom: 15px;
                }

                p {
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: white;
                }

                button {
                    text-transform: none;
                    font-family: 'Gotham SSm', sans-serif;
                    padding: 8px 18px;
                }
            }
        }

        .more-btn {
            button {
                color: white;
                border-color: white;
            }
        }
    }
}


.main-wrapper {
    padding-top: 40px;
    .wrapper-content {
        position: relative;

        .wrapper-main {
            position: absolute;
            top: 270px;
            right: 0;
            left: 69px;
            bottom: 0;

            img {
                width: 15%;
            }

            h1 {
                font-size: 48px;
                font-family: 'Gotham SSm', sans-serif;
                color: white;
            }

            p {
                font-size: 16px;
                font-family: "Gotham SSm", sans-serif;
                color: white;
                max-width: 43%;
            }
        }
    }

    .background-img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 768px;
        object-fit: cover;
    }
}

.newest-releases {
    padding-top: 50px;

    .title {
        text-align: center;
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        max-width: 46%;
        margin: 0 auto;
        color: #737279;
    }

    .card__main {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding-top: 55px;

        .card-full {
            width: 45%;
            height: 567px;
            position: relative;

            .multiple-links {
                display: flex;
                gap: 1rem;

                a {
                    color: white;
                }
            }

            .background-img {
                margin-top: 6px;
            }

            .text-white {
                background: #000000;
            }

            .image-block {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

                img {
                    height: 567px;
                }
            }

            img {
                width: 100%;
            }

            .card-item {
                display: block;
                position: relative;

                img {
                    position: absolute;
                    top: -58px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
        }

        .card-full-content {
            padding: 2rem;
            min-height: 192px;

            h3 {
                font-size: 30px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
            }

            p {
                font-size: 16px;
                font-family: 'Gotham SSm', sans-serif;
            }

            a {
                display: block;
                color: #7135e5;
                font-family: 'Gotham SSm', sans-serif;
            }
        }

        .bottom-card {
            display: flex;
            gap: 1.3rem;

            .card-full-bottom {
                img {
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                    width: 100%;
                    height: 380px;
                }
            }

            .card__bottom-content {
                background: #F5F5F8;

                .card-body {
                    padding: 2rem;
                    margin: 0 auto;

                    h3 {
                        font-size: 30px;
                        font-family: 'Gotham SSm', sans-serif;
                        font-weight: bold;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-family: 'Gotham SSm', sans-serif;
                    }

                    a {
                        display: block;
                        text-align: center;
                        color: #7135e5;
                        font-family: 'Gotham SSm', sans-serif;
                    }
                }
            }
        }
    }
}

.shop-bestseller {
    padding-top: 70px;

    .title {
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        color: #737279;
        text-align: center;
        max-width: 48%;
        margin: 0 auto;
    }

    .shop-index {
        display: flex;
        gap: 1.3rem;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 45px;

        .shop-card {
            width: 20%;

            .card-thumbnail {
                background: #F6F6F9;
                padding-top: 30px;
                padding-bottom: 30px;
                position: relative;

                &:hover {
                    .quick-shop {
                        opacity: 1;
                    }
                }

                .quick-shop {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: #EDEDF1;
                    cursor: pointer;
                    opacity: 0;
                    transition: ease .3s;

                    &:hover {
                        background-color: hsl(267deg 83% 49%);

                        p {
                            color: white;
                        }
                    }

                    p {
                        text-align: center;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-family: 'Gotham SSm', sans-serif;
                        color: #737279;
                        padding: 7px 0;
                    }
                }

                .badge-main {
                    position: absolute;
                    top: 5%;
                    left: 4%;
                    background-color: hsl(115deg 85% 29%);
                    border-radius: 3px;

                    p {
                        padding: 3px 7px;
                        color: white;
                        font-weight: bold;
                        font-size: 12px;
                        font-family: 'Gotham SSm', sans-serif;
                        margin-bottom: 0;
                    }
                }

                img {
                    width: 80%;
                    margin: 0 auto;
                    display: flex;
                }
            }

            .color-options {
                a {
                    display: flex;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    border-width: 2px;
                    border-color: hsl(266deg 98% 60%);
                }

                .MuiFormGroup-root {
                    flex-direction: unset;
                }

            }

            .promo-active {
                margin-top: -15px;

                svg {
                    margin-right: 7px;
                    color: hsl(115deg 85% 29%);
                    width: 1rem;
                    height: 1rem;
                }

                color: hsl(115deg 85% 29%);
                font-size: 12px;
                font-family: 'Gotham SSm',
                sans-serif;
            }

            .card-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .old-price {
                    margin-bottom: 0;
                    text-decoration-line: line-through;
                }

                .card-price {
                    margin-bottom: 0;
                }

                .color-radio {
                    position: relative;
                    margin: 0 !important;
                    width: 33%;

                    .css-1hbvpl3-MuiSvgIcon-root {
                        width: 1em !important;
                        height: 1em !important;

                        font-size: 1.7rem;
                    }

                    .MuiButtonBase-root.Mui-checked {
                        // border-radius: 50% !important;
                        // width: 28px !important;
                        // height: 28px !important;
                        // border-width: 2px !important;


                        color: hsl(266deg 98% 60%) !important;
                    }

                    .css-11zohuh-MuiSvgIcon-root {
                        height: 15px;
                        color: transparent !important;
                        left: 5.9px;
                        top: 5.8px;
                        width: 15px;
                        border-radius: 50%;
                        -webkit-box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 84%, 0), inset 0 1px 6px 2px rgba(0, 0, 0, .2);
                        box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 84%, 0), inset 0 1px 6px 2px rgba(0, 0, 0, .2);
                        content: "";
                        position: absolute;
                        right: 0;
                        z-index: 1;

                        &:not(svg) {
                            display: none;
                        }
                    }

                }
            }

            .card-title {
                padding-top: 5px;
                padding-bottom: 3.5px;
                font-size: 18px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
                color: #000000;
            }

            .card-subtitle {
                font-size: 14px;
                font-family: 'Gotham SSm', sans-serif;
                color: #737279;
                padding-bottom: 1.7rem;
            }
        }
    }
}

.main-content-grid{
    padding-top: 95px;
    padding-bottom: 40px;
    position: relative;
    .background-img{
        width: 100%;
        height: 287px;
        object-fit: cover;
        border-radius: 0.375rem;
    }
    .main-content{
        position: absolute;
        top: 37%;
        left: 12%;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 50%;
        height: 37%;

        h3{
            font-size: 30px;
            font-family: 'Gotham SSm',sans-serif;
            color: #ffff;
            padding-top: 6px;
        }
        p{
            font-size: 16px;
            font-family: 'Gotham SSm',sans-serif;
            color: #ffff;
            max-width: 58%;
        }
        img{
            width: 33%;
        }
    }
}

.brand-content{
    .title{
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
        padding-top: 35px;
    }

    .card-main{
        display: flex;
        gap: 1.3rem;
        padding-top: 55px;
        .card-item{
           background: #F5F5F8;

           .card-body{
            padding: 30px 20px;
            img{
                display: flex;
                margin: 0 auto;
                width: 46%;
            }
            .description{
                max-width: 75%;
                margin: 0 auto;
                text-align: center;
                font-family: 'Gotham SSm', sans-serif;
            }
           }
           
        }
    }
}

.bottom-thumbnail{
    position: relative;
    padding-top: 60px;
    img{
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
    .content{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        p{
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
            font-size: 14px;
        }
        h1{
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
            font-size: 48px;
        }
        a{
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-size: 18px;
            text-decoration: none;

            &:hover{
                text-decoration:underline;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .home__index{
        .background-img{
            height: 508px;
        }
        .home__content{
            display: block;
            .home__thumbnail{
                img{
                    display: flex;
                    margin: 0 auto;
                    width: 81%;
                    height: 293px;
                }
            }   
        }
        .home__text{
            padding-left: 9px;
            padding-top: 30px;
            h1{
                font-size: 36px;
            }
            p{
                font-size: 24px;
            }
            button{
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }
            img{
                width: 46%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card{
        .two-card-item{
            flex-wrap: wrap !important;
        }
        .card-item{
            width: 47% !important;
        }

        .thumbnail__end{
            width: 100% !important;
            height: 100%;
            position: relative;

            .background-sr{
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .card-body{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 12px;
                height: 50% !important;
                background: transparent !important;

                img{
                    height: 20% !important;
                }
            }
        }
    }

    .main-wrapper{
        img{
            height: 100%;
        }
        .wrapper-content{
            display: none;
            .wrapper-main{
                p{
                    max-width: 100%;
                }
            }
        }
    }

    .newest-releases{
        .title{
            font-size: 30px;
        }
        .subtitle{
            max-width: 95%;
        }
        .card__main{
            gap: 5.2rem;
            .card-full{
                width: 100%;
                height: 442px;

                .card-item{
                    img{
                        top: -17px;
                    }
                }

                .card-full-content{
                    min-height: 223px;
                }

                .image-block{
                    img{
                        height: 498px;
                    }
                }
            }
        }

        .bottom-card{
            flex-wrap: wrap;
        }
    }
}