.home__index {
  position: relative;
}
.home__index .background-img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 660px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__index .home__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__index .home-img {
  width: 100%;
  height: 659px;
}
.home__index .home__text {
  padding-left: 80px;
}
.home__index .home__text h1 {
  font-size: 48px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.home__index .home__text p {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.home__index .home__text img {
  width: 32%;
}
.home__index .home__text button {
  padding: 8px 15px;
  font-family: "Gotham SSm", sans-serif;
  font-size: 18px;
  text-transform: none;
  background-color: hsl(267, 83%, 49%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.375rem;
  transform: scale(0.98);
  transition: 0.1s ease-in;
}
.home__index .home__text button:hover {
  transform: scale(1);
  background: #5E0BCB;
}

.player-two-card .two-card-item {
  display: flex;
  gap: 1.3rem;
  padding-top: 66px;
}
.player-two-card .two-card-item .card-item {
  width: 28%;
}
.player-two-card .two-card-item .card-item .card-thumbnail {
  background: #F6F6F9;
  padding-top: 35px;
  padding-bottom: 35px;
}
.player-two-card .two-card-item .card-item .card-thumbnail img {
  width: 71%;
  display: flex;
  margin: 0 auto;
}
.player-two-card .two-card-item .card-item .card-header .card-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gotham SSm", sans-serif;
}
.player-two-card .two-card-item .card-item .card-header .subtitle {
  color: #737279;
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
}
.player-two-card .two-card-item .card-item .card-main .main-title {
  font-size: 12px;
  font-weight: bold;
  font-family: "Gotham SSm", sans-serif;
}
.player-two-card .two-card-item .card-item .card-main .main-text {
  color: #737279;
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
}
.player-two-card .two-card-item .card-item .card-price p {
  color: #000000;
  font-size: 14px;
  font-family: "Gotham SSm";
}
.player-two-card .two-card-item .card-item .shop-btn button {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: hsl(267, 83%, 49%);
  border-radius: 0.375rem;
  font-size: 16px;
  text-transform: none;
  transform: scale(0.98);
  transition: 0.1s ease-in;
}
.player-two-card .two-card-item .card-item .shop-btn button:hover {
  transform: scale(1);
  background-color: hsl(266, 90%, 42%);
}
.player-two-card .two-card-item .thumbnail__end {
  width: 30%;
  height: 100%;
}
.player-two-card .two-card-item .thumbnail__end .thumbnail-img {
  width: 100%;
  height: 360px;
}
.player-two-card .two-card-item .thumbnail__end .card-body {
  height: 100%;
  background: black;
}
.player-two-card .two-card-item .thumbnail__end .card-body img {
  padding-top: 20px;
  margin-left: 33px;
  width: 40%;
  height: 100%;
  fill: white;
  color: white;
}
.player-two-card .two-card-item .thumbnail__end .card-body p {
  color: white;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}
.player-two-card .two-card-item .thumbnail__end .card-body button {
  color: white;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  text-transform: none;
  border: 1px solid white;
}
.player-two-card .two-card-item .thumbnail__end .card-body .content {
  padding: 30px 34px;
}

.promo__banner {
  margin-top: 128px;
}
.promo__banner .image-block {
  display: block;
  overflow: hidden;
}
.promo__banner .image-block .banner-main {
  width: 100%;
  height: 50%;
}
.promo__banner .image-block .promo-block {
  position: relative;
}
.promo__banner .image-block .promo-img {
  position: absolute;
  top: -384px;
  width: 37%;
}
.promo__banner .image-block .promo-content-index {
  position: relative;
}
.promo__banner .image-block .promo-content-index .promo-content {
  position: absolute;
  top: -327px;
  left: auto;
  right: 0;
  bottom: 0;
}
.promo__banner .image-block .promo-content-index .promo-content img {
  width: 33%;
}
.promo__banner .image-block .promo-content-index .promo-content h3 {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  color: white;
  padding: 7px 0;
}
.promo__banner .image-block .promo-content-index .promo-content .description {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  max-width: 65%;
  padding-bottom: 15px;
}
.promo__banner .image-block .promo-content-index .promo-content p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.promo__banner .image-block .promo-content-index .promo-content button {
  text-transform: none;
  font-family: "Gotham SSm", sans-serif;
  padding: 8px 18px;
}
.promo__banner .image-block .more-btn button {
  color: white;
  border-color: white;
}

.main-wrapper .wrapper-content {
  position: relative;
}
.main-wrapper .wrapper-content .wrapper-main {
  position: absolute;
  top: 270px;
  right: 0;
  left: 69px;
  bottom: 0;
}
.main-wrapper .wrapper-content .wrapper-main img {
  width: 15%;
}
.main-wrapper .wrapper-content .wrapper-main h1 {
  font-size: 48px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.main-wrapper .wrapper-content .wrapper-main p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
  max-width: 43%;
}
.main-wrapper .background-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 768px;
  -o-object-fit: cover;
     object-fit: cover;
}

.newest-releases {
  padding-top: 50px;
}
.newest-releases .title {
  text-align: center;
  font-size: 48px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.newest-releases .subtitle {
  text-align: center;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  max-width: 46%;
  margin: 0 auto;
  color: #737279;
}
.newest-releases .card__main {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 55px;
}
.newest-releases .card__main .card-full {
  width: 45%;
  height: 567px;
  position: relative;
}
.newest-releases .card__main .card-full .multiple-links {
  display: flex;
  gap: 1rem;
}
.newest-releases .card__main .card-full .multiple-links a {
  color: white;
}
.newest-releases .card__main .card-full .background-img {
  margin-top: 6px;
}
.newest-releases .card__main .card-full .text-white {
  background: #000000;
}
.newest-releases .card__main .card-full .image-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.newest-releases .card__main .card-full .image-block img {
  height: 567px;
}
.newest-releases .card__main .card-full img {
  width: 100%;
}
.newest-releases .card__main .card-full .card-item {
  display: block;
  position: relative;
}
.newest-releases .card__main .card-full .card-item img {
  position: absolute;
  top: -58px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.newest-releases .card__main .card-full-content {
  padding: 2rem;
  min-height: 192px;
}
.newest-releases .card__main .card-full-content h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Gotham SSm", sans-serif;
}
.newest-releases .card__main .card-full-content p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}
.newest-releases .card__main .card-full-content a {
  display: block;
  color: #7135e5;
  font-family: "Gotham SSm", sans-serif;
}
.newest-releases .card__main .bottom-card {
  display: flex;
  gap: 1.3rem;
}
.newest-releases .card__main .bottom-card .card-full-bottom img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 380px;
}
.newest-releases .card__main .bottom-card .card__bottom-content {
  background: #F5F5F8;
}
.newest-releases .card__main .bottom-card .card__bottom-content .card-body {
  padding: 2rem;
  margin: 0 auto;
}
.newest-releases .card__main .bottom-card .card__bottom-content .card-body h3 {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  text-align: center;
}
.newest-releases .card__main .bottom-card .card__bottom-content .card-body p {
  text-align: center;
  font-family: "Gotham SSm", sans-serif;
}
.newest-releases .card__main .bottom-card .card__bottom-content .card-body a {
  display: block;
  text-align: center;
  color: #7135e5;
  font-family: "Gotham SSm", sans-serif;
}

.shop-bestseller {
  padding-top: 70px;
}
.shop-bestseller .title {
  font-size: 48px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  text-align: center;
}
.shop-bestseller .subtitle {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: #737279;
  text-align: center;
  max-width: 48%;
  margin: 0 auto;
}
.shop-bestseller .shop-index {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}
.shop-bestseller .shop-index .shop-card {
  width: 20%;
}
.shop-bestseller .shop-index .shop-card .card-thumbnail {
  background: #F6F6F9;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.shop-bestseller .shop-index .shop-card .card-thumbnail .badge-main {
  position: absolute;
  top: 5%;
  left: 4%;
  background-color: hsl(115, 85%, 29%);
  border-radius: 3px;
}
.shop-bestseller .shop-index .shop-card .card-thumbnail .badge-main p {
  padding: 3px 7px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  margin-bottom: 0;
}
.shop-bestseller .shop-index .shop-card .card-thumbnail img {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.shop-bestseller .shop-index .shop-card .color-options a {
  display: flex;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border-width: 2px;
  border-color: hsl(266, 98%, 60%);
}
.shop-bestseller .shop-index .shop-card .color-options .MuiFormGroup-root {
  flex-direction: unset;
}
.shop-bestseller .shop-index .shop-card .promo-active {
  margin-top: -15px;
  color: hsl(115, 85%, 29%);
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
}
.shop-bestseller .shop-index .shop-card .promo-active svg {
  margin-right: 7px;
  color: hsl(115, 85%, 29%);
  width: 1rem;
  height: 1rem;
}
.shop-bestseller .shop-index .shop-card .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-bestseller .shop-index .shop-card .card-bottom .old-price {
  margin-bottom: 0;
  text-decoration-line: line-through;
}
.shop-bestseller .shop-index .shop-card .card-bottom .card-price {
  margin-bottom: 0;
}
.shop-bestseller .shop-index .shop-card .card-bottom .color-radio {
  position: relative;
  margin: 0 !important;
  width: 33%;
}
.shop-bestseller .shop-index .shop-card .card-bottom .color-radio .css-1hbvpl3-MuiSvgIcon-root {
  width: 1em !important;
  height: 1em !important;
  font-size: 1.7rem;
}
.shop-bestseller .shop-index .shop-card .card-bottom .color-radio .MuiButtonBase-root.Mui-checked {
  color: hsl(266, 98%, 60%) !important;
}
.shop-bestseller .shop-index .shop-card .card-bottom .color-radio .css-11zohuh-MuiSvgIcon-root {
  height: 15px;
  color: transparent !important;
  left: 5.9px;
  top: 5.8px;
  width: 15px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 84%, 0), inset 0 1px 6px 2px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  right: 0;
  z-index: 1;
}
.shop-bestseller .shop-index .shop-card .card-bottom .color-radio .css-11zohuh-MuiSvgIcon-root:not(svg) {
  display: none;
}
.shop-bestseller .shop-index .shop-card .card-title {
  padding-top: 5px;
  padding-bottom: 3.5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Gotham SSm", sans-serif;
  color: #000000;
}
.shop-bestseller .shop-index .shop-card .card-subtitle {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: #737279;
  padding-bottom: 1.7rem;
}/*# sourceMappingURL=home.css.map */