.home__index {
    position: relative;

    .background-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 660px;
        object-fit: cover;
    }

    .home__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-img {
        width: 100%;
        height: 659px;
    }

    .home__text {
        padding-left: 80px;

        h1 {
            font-size: 48px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        p {
            font-size: 30px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        img {
            width: 32%;
        }

        button {
            padding: 8px 15px;
            font-family: 'Gotham SSm', sans-serif;
            font-size: 18px;
            text-transform: none;
            background-color: hsl(267deg 83% 49%);
            box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
            border-radius: 0.375rem;
            transform: scale(0.98);
            transition: .1s ease-in;

            &:hover {
                transform: scale(1);
                background: #5E0BCB;
            }
        }
    }
}

.player-two-card {
    .two-card-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.3rem;
        padding-top: 66px;

        .card-item {
            width: 28%;

            .card-thumbnail {
                background: #F6F6F9;
                padding-top: 35px;
                padding-bottom: 35px;
                position: relative;

                &:hover {
                    .quick-shop {
                        opacity: 1;
                    }

                    img {
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }

                .quick-shop {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: #EDEDF1;
                    cursor: pointer;
                    opacity: 0;
                    transition: ease .3s;

                    &:hover {
                        background-color: hsl(267deg 83% 49%);

                        p {
                            color: white;
                        }
                    }

                    p {
                        text-align: center;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-family: 'Gotham SSm', sans-serif;
                        color: #737279;
                        padding: 7px 0;
                    }
                }

                img {
                    width: 71%;
                    display: flex;
                    margin: 0 auto;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    transition: all .2s ease-in-out;
                }
            }

            .card-header {
                border-bottom: 1px solid #EDEDF3;

                .card-title {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: 'Gotham SSm', sans-serif;
                }

                .subtitle {
                    color: #737279;
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .card-main {
                padding-top: 14px;
                padding-bottom: 14px;
                border-bottom: 1px solid #EDEDF3;

                .main-title {
                    font-size: 12px;
                    font-weight: bold;
                    font-family: 'Gotham SSm', sans-serif;
                }

                .main-text {
                    color: #737279;
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                    margin-bottom: 0;
                }
            }

            .card-price {
                padding-top: 14px;

                p {
                    color: #000000;
                    font-size: 14px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .shop-btn {
                button {
                    width: 100%;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
                    background-color: hsl(267deg 83% 49%);
                    border-radius: 0.375rem;
                    font-size: 16px;
                    text-transform: none;
                    transform: scale(0.98);
                    transition: .1s ease-in;

                    &:hover {
                        transform: scale(1);
                        background-color: hsl(266deg 90% 42%)
                    }
                }
            }
        }

        .thumbnail__end {
            width: 30%;
            height: 100%;

            .background-sr {
                display: none;
            }

            .thumbnail-img {
                width: 100%;
                height: 360px;
            }

            .card-body {
                height: 242px;
                padding: 65px 24px;
                background: black;

                img {
                    width: 53%;
                    height: 19%;
                    fill: white;
                    color: white;
                }

                p {
                    color: white;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                }

                button {
                    color: white;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    text-transform: none;
                    border: 1px solid #ffff;
                }

                .content {
                    margin-top: 20px;
                }
            }
        }
    }
}

.promo__banner {
    margin-top: 128px;

    .image-block {
        display: block;
        overflow: hidden;

        .banner-main {
            width: 100%;
            height: 50%;

        }

        .promo-block {
            position: relative;
        }

        .promo-img {
            position: absolute;
            top: -384px;
            width: 37%;
        }

        .promo-content-index {
            position: relative;

            .promo-content {
                position: absolute;
                top: -327px;
                left: auto;
                right: 0;
                bottom: 0;

                img {
                    width: 33%;
                }

                h3 {
                    font-size: 30px;
                    font-family: 'Gotham SSm', sans-serif;
                    font-weight: bold;
                    color: white;
                    padding: 7px 0;
                }

                .description {
                    font-size: 18px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: white;
                    max-width: 65%;
                    padding-bottom: 15px;
                }

                p {
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    color: white;
                }

                button {
                    text-transform: none;
                    font-family: 'Gotham SSm', sans-serif;
                    padding: 8px 18px;
                }
            }
        }

        .more-btn {
            button {
                color: white;
                border-color: white;
            }
        }
    }
}


.main-wrapper {
    padding-top: 40px;

    .wrapper-content {
        position: relative;

        .wrapper-text {
            position: absolute;
            top: 1%;
            right: 0;
            left: 23px;
            bottom: 0;

            img {
                height: 3%;
                width: 15%;
            }

            h1 {
                font-size: 48px;
                font-family: 'Gotham SSm', sans-serif;
                color: white;
            }

            p {
                font-size: 16px;
                font-family: "Gotham SSm", sans-serif;
                color: white;
                max-width: 43%;

                em {
                    padding-right: 7px;
                    font-family: "Gotham SSm", sans-serif;
                    font-size: 16px;

                    &:last-child {
                        padding-left: 7px;
                    }
                }
            }
        }
    }

    .background-img {
        width: 100%;
        max-width: 100%;
        height: 100%;
        min-height: 768px;
        object-fit: cover;
    }
}

.newest-releases {
    padding-top: 50px;

    .title {
        text-align: center;
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
    }

    .subtitle {
        text-align: center;
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        max-width: 46%;
        margin: 0 auto;
        color: #737279;
    }

    .card__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 55px;

        .card-full {
            width: 45%;
            height: 567px;
            position: relative;

            .multiple-links {
                display: flex;
                gap: 1rem;

                a {
                    color: white;
                }
            }

            .background-img {
                margin-top: 6px;
            }

            .text-white {
                background: #000000;
            }

            .image-block {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

                img {
                    height: 567px;
                }
            }

            img {
                width: 100%;
            }

            .card-item {
                display: block;
                position: relative;

                img {
                    position: absolute;
                    top: -58px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
        }

        .card-full-content {
            padding: 2rem;
            min-height: 192px;

            h3 {
                font-size: 30px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
            }

            p {
                font-size: 16px;
                font-family: 'Gotham SSm', sans-serif;
            }

            a {
                display: block;
                color: #7135e5;
                font-family: 'Gotham SSm', sans-serif;
            }
        }

        .bottom-card {
            display: flex;
            justify-content: center;
            gap: 1.3rem;

            .card-full-bottom {
                width: 100%;

                img {
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                    width: 100%;
                    height: 380px;
                }
            }

            .card__bottom-content {
                background: #F5F5F8;

                .card-body {
                    padding: 2rem;
                    margin: 0 auto;

                    h3 {
                        font-size: 30px;
                        font-family: 'Gotham SSm', sans-serif;
                        font-weight: bold;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-family: 'Gotham SSm', sans-serif;
                    }

                    a {
                        display: block;
                        text-align: center;
                        color: #7135e5;
                        font-family: 'Gotham SSm', sans-serif;
                    }
                }
            }
        }
    }
}

.shop-bestseller {
    padding-top: 70px;

    .title {
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .subtitle {
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        color: #737279;
        text-align: center;
        max-width: 48%;
        margin: 0 auto;
    }

    .shop-index {
        display: flex;
        gap: 1.3rem;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 45px;

        .shop-card {
            width: 21.5%;

            .card-thumbnail {
                background: #F6F6F9;
                padding-top: 30px;
                padding-bottom: 30px;
                position: relative;

                &:hover {
                    .quick-shop {
                        opacity: 1;
                    }
                }

                .quick-shop {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: #EDEDF1;
                    cursor: pointer;
                    opacity: 0;
                    transition: ease .3s;

                    &:hover {
                        background-color: hsl(267deg 83% 49%);

                        p {
                            color: white;
                        }
                    }

                    p {
                        text-align: center;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-family: 'Gotham SSm', sans-serif;
                        color: #737279;
                        padding: 7px 0;
                    }
                }

                .badge-main {
                    position: absolute;
                    top: 5%;
                    left: 4%;
                    background-color: hsl(115deg 85% 29%);
                    border-radius: 3px;

                    p {
                        padding: 3px 7px;
                        color: white;
                        font-weight: bold;
                        font-size: 12px;
                        font-family: 'Gotham SSm', sans-serif;
                        margin-bottom: 0;
                    }
                }

                .badge-stock {
                    position: absolute;
                    top: 5%;
                    left: 4%;
                    background-color: hsl(47deg 97% 73%);
                    border-radius: 3px;

                    p {
                        padding: 3px 7px;
                        color: hsl(34deg 94% 21%);
                        font-weight: bold;
                        font-size: 12px;
                        font-family: 'Gotham SSm', sans-serif;
                        margin-bottom: 0;
                    }
                }

                .badge-sold {
                    position: absolute;
                    top: 5%;
                    left: 4%;
                    background-color: transparent;
                    border-radius: .25rem;
                    border-color: hsl(220deg 3% 20%);
                    border: 1px solid;

                    p {
                        padding: 3px 7px;
                        color: hsl(220deg 3% 20%);
                        font-weight: bold;
                        font-size: 12px;
                        font-family: 'Gotham SSm', sans-serif;
                        margin-bottom: 0;
                    }
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                }
            }

            .color-options {
                a {
                    display: flex;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px;
                    border-width: 2px;
                    border-color: hsl(266deg 98% 60%);
                }

                .MuiFormGroup-root {
                    flex-direction: unset;
                }

            }

            .promo-active {
                margin-top: -15px;

                svg {
                    margin-right: 7px;
                    color: hsl(115deg 85% 29%);
                    width: 1rem;
                    height: 1rem;
                }

                color: hsl(115deg 85% 29%);
                font-size: 12px;
                font-family: 'Gotham SSm',
                sans-serif;
            }

            .card-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .old-price {
                    margin-bottom: 0;
                    text-decoration-line: line-through;
                }

                .card-price {
                    margin-bottom: 0;
                }

                .color-radio {
                    position: relative;
                    margin: 0 !important;
                    width: 33%;

                    .css-1hbvpl3-MuiSvgIcon-root {
                        width: 1em !important;
                        height: 1em !important;

                        font-size: 1.7rem;
                    }

                    .MuiButtonBase-root.Mui-checked {
                        // border-radius: 50% !important;
                        // width: 28px !important;
                        // height: 28px !important;
                        // border-width: 2px !important;


                        color: hsl(266deg 98% 60%) !important;
                    }

                    .css-11zohuh-MuiSvgIcon-root {
                        height: 15px;
                        color: transparent !important;
                        left: 5.9px;
                        top: 5.8px;
                        width: 15px;
                        border-radius: 50%;
                        -webkit-box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 84%, 0), inset 0 1px 6px 2px rgba(0, 0, 0, .2);
                        box-shadow: 0 0 0 3px hsla(0, 0%, 100%, 0), 0 0 0 4px hsla(0, 0%, 84%, 0), inset 0 1px 6px 2px rgba(0, 0, 0, .2);
                        content: "";
                        position: absolute;
                        right: 0;
                        z-index: 1;

                        &:not(svg) {
                            display: none;
                        }
                    }

                }
            }

            .card-title {
                padding-top: 5px;
                padding-bottom: 3.5px;
                font-size: 18px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
                color: #000000;
            }

            .card-subtitle {
                font-size: 14px;
                font-family: 'Gotham SSm', sans-serif;
                color: #737279;
                padding-bottom: 1.7rem;
            }
        }
    }
}

.main-content-grid {
    padding-top: 95px;
    padding-bottom: 40px;
    position: relative;

    .background-img {
        width: 100%;
        height: 287px;
        object-fit: cover;
        border-radius: 0.375rem;
    }

    .main-content {
        position: absolute;
        top: 37%;
        left: 12%;
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 50%;
        height: 37%;

        h3 {
            font-size: 30px;
            font-family: 'Gotham SSm', sans-serif;
            color: #ffff;
            padding-top: 6px;
        }

        p {
            font-size: 16px;
            font-family: 'Gotham SSm', sans-serif;
            color: #ffff;
            max-width: 58%;
        }

        img {
            width: 33%;
        }
    }
}

.brand-content {
    .title {
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
        padding-top: 35px;
    }

    .card-main {
        display: flex;
        gap: 1.3rem;
        padding-top: 55px;

        .card-item {
            background: #F5F5F8;

            .card-body {
                padding: 30px 20px;

                img {
                    display: flex;
                    margin: 0 auto;
                    width: 46%;
                }

                .description {
                    max-width: 75%;
                    margin: 0 auto;
                    text-align: center;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

        }
    }
}

.bottom-thumbnail {
    position: relative;
    padding-top: 60px;

    img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;

        p {
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
            font-size: 14px;
        }

        h1 {
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
            font-size: 48px;
        }

        a {
            color: #ffff;
            font-family: 'Gotham SSm', sans-serif;
            font-size: 18px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 768px !important;
    }

    .home__index {
        .background-img {
            height: 557px;
        }

        .home__content {
            display: block;

            .home__thumbnail {
                // position: relative; */
                display: block;
                /* height: 300px; */
                width: 100%;
                height: 301px;
            }

            .home__thumbnail {
                img {
                    position: absolute;
                    top: 46%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 78%;
                    height: 54%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            padding-left: 9px;
            padding-top: 30px;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 24px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 46%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card {
        .two-card-item {
            flex-wrap: wrap !important;
            gap: 1rem;
        }

        .card-item {
            width: 47% !important;
        }

        .thumbnail__end {
            width: 100% !important;
            height: 100%;
            position: relative;

            .background-sr {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .card-body {
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 60px;
                height: 50% !important;
                background: transparent !important;

                img {
                    height: 37% !important;
                }
            }
        }
    }

    .main-wrapper {
        img {
            height: 100%;
        }

        .wrapper-content {

            .wrapper-text {
                top: 6%;
                width: 92%;

                p {
                    max-width: 100%;
                }

                img {
                    height: 4%;
                    width: 40%;
                }

                h1 {
                    font-size: 39px;
                }
            }
        }
    }

    .newest-releases {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 95%;
        }

        .card__main {

            .card-full {
                height: auto;
                width: 100%;

                .card-item {
                    height: 275px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        display: block;
                    }
                }

                .card-full-content {
                    min-height: 223px;
                }

                .image-block {
                    img {
                        height: 498px;
                    }
                }
            }
        }

        .bottom-card {
            flex-wrap: wrap;
        }
    }

    .shop-bestseller {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 89%;
        }

        .shop-index {
            .shop-card {
                width: 46%;
            }
        }
    }

    .main-content-grid {
        .full-main {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;

            .background-img {
                object-fit: unset;
                border-radius: 0;
            }
        }

        .main-content {
            position: static;
            width: 100%;
            background-color: #4A4AF4;
            padding: 25px 20px;

            p {
                max-width: 100%;
            }

        }

        .image-block {
            background-color: #4A4AF4;
            width: 100%;
            display: block;
        }
    }

    .brand-content {
        .title {
            font-size: 30px;
        }

        .card-main {
            flex-wrap: wrap;
        }
    }

    .bottom-thumbnail {
        .content {
            top: 42%;

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 768px !important;
    }

    .home__index {
        .background-img {
            height: 767px;
        }

        .home__content {
            display: block;

            .home__thumbnail {
                // position: relative; */
                display: block;
                /* height: 300px; */
                width: 100%;
                height: 301px;
            }

            .home__thumbnail {
                img {
                    position: absolute;
                    top: 37%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 88%;
                    height: 63%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            padding-left: 9px;
            padding-top: 30px;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 24px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 46%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card {
        .two-card-item {
            flex-wrap: wrap !important;
        }

        .card-item {
            width: 48.5% !important;
        }

        .thumbnail__end {
            background: #30313A;
            width: 100% !important;
            height: 100%;
            position: relative;

            .background-sr {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .thumbnail-img {
                height: 435px !important;
                width: 65% !important;
            }

            .card-body {
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 60px;
                height: 50% !important;
                background: transparent !important;

                img {
                    width: 32% !important;
                    height: 22% !important;
                }
            }
        }
    }

    .main-wrapper {
        img {
            height: 100%;
        }

        .wrapper-content {

            .wrapper-text {
                top: 6%;
                width: 92%;

                p {
                    max-width: 100%;
                }

                img {
                    height: 4%;
                    width: 40%;
                }

                h1 {
                    font-size: 39px;
                }
            }
        }
    }

    .newest-releases {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 95%;
        }

        .card__main {

            .card-full {
                height: auto;
                width: 100%;

                .card-item {
                    height: 275px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 50%;
                        height: 100%;
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .card-full-content {
                    min-height: 223px;
                }

                .image-block {
                    img {
                        height: 498px;
                    }
                }
            }
        }

        .bottom-card {
            flex-wrap: wrap;
        }
    }

    .shop-bestseller {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 89%;
        }

        .shop-index {
            .shop-card {
                width: 46%;
            }
        }
    }

    .main-content-grid {
        .full-main {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;

            .background-img {
                object-fit: unset;
                border-radius: 0;
            }
        }

        .main-content {
            position: static;
            width: 100%;
            background-color: #4A4AF4;
            padding: 25px 20px;

            p {
                max-width: 100%;
            }

        }

        .image-block {
            background-color: #4A4AF4;
            width: 100%;
            display: block;
        }
    }

    .brand-content {
        .title {
            font-size: 30px;
        }

        .card-main {
            flex-wrap: wrap;
        }
    }

    .bottom-thumbnail {
        .content {
            top: 42%;

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
        max-width: 900px !important;
    }

    .main-wrapper {
        .wrapper-text {
            top: 5% !important;

            img {
                height: 4% !important;
                width: 20% !important;
            }
        }
    }

    .home__index {
        .background-img {
            height: 660px;
        }

        .home__content {
            display: block;

            .home__thumbnail {
                // position: relative; */
                display: block;
                /* height: 300px; */
                width: 100%;
                height: auto;
            }

            .home__thumbnail {
                img {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 53%;
                    height: 50%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            padding-left: 9px;
            padding-top: 30px;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 24px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 21%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card {
        .two-card-item {
            flex-wrap: wrap !important;
        }

        .card-item {
            width: 48.5% !important;

            img {
                width: 90% !important;
            }
        }

        .thumbnail__end {
            width: 100% !important;
            height: 100%;
            position: relative;
            background: #000000;

            .background-sr {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
            }

            .card-body {
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 30px;
                height: 50% !important;
                background: transparent !important;

                img {
                    width: 20% !important;
                    height: 25% !important;
                }
            }

            .thumbnail-img {
                height: 447px !important;
                width: 53% !important;
            }
        }
    }

    .main-wrapper {
        img {
            height: 100%;
        }

        .wrapper-content {

            .wrapper-text {
                p {
                    max-width: 100%;
                }
            }
        }
    }

    .newest-releases {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 95%;
        }

        .card__main {

            .card-full {
                height: auto;
                width: 100%;

                .card-item {
                    height: 275px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 42%;
                        height: 100%;
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .card-full-content {
                    min-height: 223px;
                }

                .image-block {
                    img {
                        height: 498px;
                    }
                }
            }
        }

        .bottom-card {
            gap: .8rem !important;

            img {
                height: 305px !important;
            }

            .card-body {
                h3 {
                    font-size: 23px !important;
                }
            }
        }
    }

    .shop-bestseller {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 70%;
        }

        .shop-index {
            .shop-card {
                width: 46%;
            }
        }
    }

    .main-content-grid {
        .full-main {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

        }

        .main-content {
            width: 40%;
            padding: 25px 20px;
            top: 10%;
            left: 3%;

            p {
                max-width: 100%;
            }

            h3 {
                font-weight: bold;
                font-size: 23px;
            }

            img {
                width: 25%;
            }
        }

        .image-block {
            background-color: #4A4AF4;
            width: 100%;
            display: block;
            border-radius: 5%;
        }
    }

    .brand-content {
        .title {
            font-size: 30px;
        }

        img {
            width: 75% !important;
        }
    }

    .bottom-thumbnail {
        .content {
            top: 42%;

            h1 {
                font-size: 36px;
            }
        }
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        max-width: 1045px !important;
    }

    .main-wrapper {
        .wrapper-text {
            top: 41% !important;
            left: 6% !important;

            img {
                height: 5% !important;
                width: 13% !important;
            }
        }
    }

    .home__index {
        .background-img {
            height: 660px;
        }

        .home__content {


            .home__thumbnail {
                img {
                    position: absolute;
                    top: 24%;
                    left: auto;
                    right: 15px;
                    bottom: 0;
                    width: 44%;
                    height: 76%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            padding-left: 70px;
            padding-top: 30px;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 30px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 34%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card {

        .card-item {
            width: 35% !important;

            img {
                width: 80% !important;
            }
        }

        .thumbnail__end {
            width: 35% !important;
            height: 100%;
            position: relative;

            .background-sr {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
            }

            .card-body {
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 30px;
                height: 50% !important;
                background: transparent !important;

                img {
                    width: 58% !important;
                    height: 13% !important;
                }
            }

            .thumbnail-img {
                height: 631px !important;
                width: 100% !important;
            }
        }
    }

    .main-wrapper {
        img {
            height: 100%;
        }

        .wrapper-content {

            .wrapper-text {
                p {
                    max-width: 43%;
                }

                img {
                    height: 6% !important;
                    width: 15% !important;
                }
            }
        }
    }

    .newest-releases {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 55%;
        }

        .card__main {

            .card-full {
                width: 49%;

                height: 497px;

                img {
                    height: 270px;
                }

                .card-item {
                    height: 275px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 70%;
                        height: 100%;
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .card-full-content {
                    min-height: 223px;
                }

                .image-block {
                    img {
                        height: 498px;
                    }
                }
            }
        }

        .bottom-card {
            gap: .8rem !important;

            img {
                height: 305px !important;
            }

            .card-body {
                h3 {
                    font-size: 23px !important;
                }
            }
        }
    }

    .shop-bestseller {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 70%;
        }

        .shop-index {
            .shop-card {
                width: 31%;
            }
        }
    }

    .main-content-grid {
        .full-main {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

        }

        .main-content {
            width: 47%;
            height: 76%;
            padding: 25px 20px;
            top: 15%;
            left: 3%;

            p {
                max-width: 100%;
            }

            h3 {
                font-weight: bold;
                font-size: 30px;
            }

            img {
                width: 41%;
            }
        }

        .image-block {
            background-color: #4A4AF4;
            width: 100%;
            display: block;
            border-radius: 5%;
        }
    }

    .brand-content {
        .title {
            font-size: 30px;
        }

        img {
            width: 75% !important;
        }
    }

    .bottom-thumbnail {
        .content {
            top: 42%;

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1145px !important;
    }

    .main-wrapper {
        .wrapper-text {
            top: 41% !important;
            left: 6% !important;

            img {
                height: 5% !important;
                width: 13% !important;
            }
        }
    }

    .home__index {
        .background-img {
            height: 660px;
        }

        .home__content {


            .home__thumbnail {
                img {
                    position: absolute;
                    top: 20%;
                    left: auto;
                    right: 15px;
                    bottom: 0;
                    width: 48%;
                    height: 80%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            padding-left: 70px;
            padding-top: 30px;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 30px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 34%;
                padding-bottom: 9px;
            }
        }
    }

    .player-two-card {

        .card-item {
            width: 30% !important;

            img {
                width: 90% !important;
            }
        }

        .thumbnail__end {
            width: 35% !important;
            height: 100%;
            position: relative;

            .background-sr {
                display: block !important;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: transparent;
            }

            .card-body {
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                top: 62%;
                height: 43% !important;
                background: transparent !important;

                img {
                    width: 61% !important;
                    height: 15% !important;
                }
            }

            .thumbnail-img {
                height: 640px !important;
                width: 100% !important;
            }
        }
    }

    .main-wrapper {
        img {
            height: 100%;
        }

        .wrapper-content {

            .wrapper-text {
                p {
                    max-width: 43%;
                }

                img {
                    height: 6% !important;
                    width: 15% !important;
                }
            }
        }
    }

    .newest-releases {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 95%;
        }

        .card__main {

            .card-full {
                width: 49%;
                height: 567px;

                img {
                    height: 337px;
                }

                .card-item {
                    height: 275px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 25%;
                        width: 82%;
                        height: 100%;
                        max-width: 100%;
                        display: block;
                        margin: 0 auto;
                    }
                }

                .card-full-content {
                    min-height: 223px;
                }

                .image-block {
                    img {
                        height: 567px;
                    }
                }
            }
        }

        .bottom-card {
            gap: .8rem !important;

            img {
                height: 305px !important;
            }

            .card-body {
                h3 {
                    font-size: 23px !important;
                }
            }
        }
    }

    .shop-bestseller {
        .title {
            font-size: 30px;
        }

        .subtitle {
            max-width: 70%;
        }

        .shop-index {
            .shop-card {
                width: 23.6%;

                .card-thumbnail {
                    img {
                        width: 71%;
                    }
                }
            }
        }
    }

    .main-content-grid {
        .full-main {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;

        }

        .main-content {
            width: 41%;
            height: 76%;
            padding: 25px 20px;
            top: 15%;
            left: 7%;

            p {
                max-width: 100%;
            }

            h3 {
                font-weight: bold;
                font-size: 30px;
            }

            img {
                width: 41%;
            }
        }

        .image-block {
            background-color: #4A4AF4;
            width: 100%;
            display: block;
            border-radius: 5%;
        }
    }

    .brand-content {
        .title {
            font-size: 30px;
        }

        img {
            width: 75% !important;
        }
    }

    .bottom-thumbnail {
        .content {
            top: 42%;

            h1 {
                font-size: 36px;
            }
        }
    }
}

@media only screen and (min-width: 1540px) {

    .container {
        max-width: 1400px !important;
    }

    .home__index {
        .background-img {
            height: 768px;
        }

        .home__content {
            .home__thumbnail {
                img {
                    position: absolute;
                    top: 20%;
                    left: auto;
                    right: 11%;
                    bottom: 0;
                    width: 43%;
                    height: 80%;
                    max-width: 100%;
                    max-height: 100%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }

        .home__text {
            position: absolute;
            left: 9%;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 30px !important;
            }

            button {
                background-color: hsl(267deg 83% 49%);
                font-size: 16px;
            }

            img {
                width: 34%;
                padding-bottom: 9px;
            }
        }
    }

    .main-wrapper {
        .wrapper-content {
            .wrapper-text {
                top: 29% !important;
                left: 14% !important;
            }
        }
    }

    .newest-releases {

        .subtitle{
            max-width: 78%;
        }

        .card-full {
            width: 49% !important;
        }

        .card-full-bottom {
            width: 32.4% !important;
        }
    }

    .main-content-grid {
        .background-img {
            height: 350px;
        }

        .main-content {
            top: 20% !important;
            left: 9% !important;
            right: 0;
            bottom: 0;
            display: inline-block;
            width: 33%;
            height: 43%;

            p {
                max-width: 100%;
            }
        }
    }

    .shop-bestseller {
        .shop-card {
            width: 23.7% !important;
        }
    }

    .player-two-card {
        #thumbnail-img{
            height: 720px !important;
        }
        .two-card-item {
            .card-item {
                width: 30.9% !important;
            }
        }
    }

}
