.product-tab {
  padding-top: 50px;
}
.product-tab .MuiButtonBase-root {
  text-transform: unset !important;
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
}

.MuiTabPanel-root .detail-index {
  display: flex;
  gap: 17rem;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcdbe6;
}
.MuiTabPanel-root .detail-index h2 {
  font-size: 20px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .detail-index p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  padding-bottom: 10px;
  color: #313235;
}
.MuiTabPanel-root .detail-index ul li {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: #313235;
}
.MuiTabPanel-root .detail-index ul li::marker {
  color: #8a00fc;
}
.MuiTabPanel-root .inside-index {
  display: flex;
  gap: 13rem;
  padding-top: 35px;
}
.MuiTabPanel-root .inside-index h2 {
  font-size: 20px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .inside-index ul {
  width: 100%;
}
.MuiTabPanel-root .inside-index ul li {
  list-style: none;
  border-bottom: 1px solid #dcdbe6;
}
.MuiTabPanel-root .inside-index ul li p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 6px 0;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: #1B1C1D;
}
.MuiTabPanel-root .content-grid-block {
  background: #F5F5F8;
  margin-bottom: 20px;
}
.MuiTabPanel-root .content-grid-block .content-main {
  display: flex;
}
.MuiTabPanel-root .content-grid-block .content-main .content-block {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 95px;
}
.MuiTabPanel-root .content-grid-block .content-main .content-block h3 {
  font-size: 30px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.MuiTabPanel-root .content-grid-block .content-main .content-block .description {
  font-size: 18px;
  font-family: "Gotham SSm", sans-serif;
  max-width: 83%;
}
.MuiTabPanel-root .content-grid-block .content-main .thumbnail-index {
  text-align: end;
}
.MuiTabPanel-root .content-grid-block .content-main .thumbnail-index img {
  width: 93%;
}
.MuiTabPanel-root .spec-main {
  display: flex;
  gap: 2.5rem;
}
.MuiTabPanel-root .spec-main .spec-item .spec-title {
  text-transform: uppercase;
}
.MuiTabPanel-root .spec-main .spec-item .spec-title p {
  margin-bottom: 0;
  padding: 10px 0;
  border-bottom: 1px solid #dcdbe6;
}
.MuiTabPanel-root .spec-main .spec-item .spec-body {
  padding-top: 10px;
}
.MuiTabPanel-root .spec-main .spec-item .spec-body p {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .spec-main .spec-item .spec-body span {
  font-weight: bold;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  padding-right: 7px;
}
.MuiTabPanel-root .review-index {
  padding-bottom: 36px;
}
.MuiTabPanel-root .review-index .review-count {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.MuiTabPanel-root .review-index .review-count .review-rating {
  font-size: 42px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
}
.MuiTabPanel-root .review-index .review-count .review-total {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .review-index .review-count .star-index {
  color: hsl(267, 83%, 49%) !important;
}
.MuiTabPanel-root .review-index .review-count .star-index svg {
  width: 1.5rem;
  height: 1.5rem;
}
.MuiTabPanel-root .review-index .review-count .star-index .filled {
  margin-top: -2px;
}
.MuiTabPanel-root .review-filter {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
.MuiTabPanel-root .review-filter .title {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  padding-bottom: 12px;
}
.MuiTabPanel-root .review-filter .filter-index {
  display: flex;
  gap: 1.2rem;
}
.MuiTabPanel-root .review-filter .filter-index .form-select {
  width: 18%;
}
.MuiTabPanel-root .review-filter .filter-index .form-select option {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: #A1998D;
}
.MuiTabPanel-root .review-gallery {
  padding-top: 30px;
}
.MuiTabPanel-root .review-gallery .review-total {
  padding-bottom: 25px;
  display: block;
}
.MuiTabPanel-root .review-gallery .review-main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.MuiTabPanel-root .review-gallery .review-item {
  width: 49%;
  padding-bottom: 15px;
  background: #F6F6F9;
  border-radius: 8px;
  padding: 14px 24px;
  margin-bottom: 13px;
}
.MuiTabPanel-root .review-gallery .review-item .review-header {
  display: flex;
  justify-content: space-between;
}
.MuiTabPanel-root .review-gallery .review-item .review-header .user-name {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .review-gallery .review-item .review-header .review-date {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: #6C6A77;
}
.MuiTabPanel-root .review-gallery .review-item .star-index svg {
  width: 1.15rem;
  height: 1.15rem;
  color: hsl(267, 83%, 49%) !important;
}
.MuiTabPanel-root .review-gallery .review-item .context-title {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 6px;
}
.MuiTabPanel-root .review-gallery .review-item .review-wrapper {
  padding-bottom: 25px;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.MuiTabPanel-root .review-gallery .review-item .review-image {
  padding-bottom: 15px;
}
.MuiTabPanel-root .review-gallery .review-item .review-image img {
  padding-right: 12px;
  border-radius: 5px;
  width: 24%;
}
.MuiTabPanel-root .review-gallery .review-item .share svg {
  margin-top: -1px;
}
.MuiTabPanel-root .review-gallery .review-item .share .label {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  color: #686774;
  padding-left: 10px;
}
.MuiTabPanel-root .review-gallery .review-item .review-footer {
  display: flex;
  justify-content: space-between;
}
.MuiTabPanel-root .review-gallery .review-item .review-footer .like-item {
  display: flex;
  gap: 1rem;
}
.MuiTabPanel-root .review-gallery .review-item .review-footer .like-item svg {
  color: #686774;
}
.MuiTabPanel-root .review-gallery .review-item .review-footer .like-item .count {
  color: #686774;
  font-size: 13px;
  font-family: "Gotham SSm", sans-serif;
  padding-left: 4px;
}
.MuiTabPanel-root .pagination-review .MuiPagination-ul {
  justify-content: center;
}
.MuiTabPanel-root .download-text {
  font-size: 36px;
  font-family: "Gotham SSM", sans-serif;
  font-weight: bold;
}
.MuiTabPanel-root .documentation {
  padding-top: 30px;
}
.MuiTabPanel-root .documentation .document-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 15px;
}
.MuiTabPanel-root .documentation h3 {
  font-size: 18px;
  font-family: "Gotham SSM", sans-serif;
  font-weight: bold;
  color: #737279;
}
.MuiTabPanel-root .documentation .document-item {
  display: flex;
  gap: 1rem;
  width: 48%;
  border-bottom: 1px solid #dcdbe6;
}
.MuiTabPanel-root .documentation .document-item:last-child {
  border: none;
}
.MuiTabPanel-root .documentation .document-item .pdf-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: hsl(221, 94%, 41%);
}
.MuiTabPanel-root .documentation .document-item a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Gotham SSM", sans-serif;
  color: hsl(221, 94%, 41%);
}
.MuiTabPanel-root .documentation .document-item a:hover {
  text-decoration: underline;
}
.MuiTabPanel-root .documentation .document-item p {
  font-size: 12px;
  font-family: "Gotham SSM", sans-serif;
  color: #737279;
}
.MuiTabPanel-root .documentation .document-item .document-content .download-icon {
  margin-left: 5px;
  margin-top: -3px;
}/*# sourceMappingURL=product-tab.css.map */