.lg-backdrop {
  z-index: 111111111111111 !important;
  background: white !important;
}

.lg-outer {
  z-index: 111111111111111 !important;
}

.lg-thumb {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.lg-thumb img {
  width: 100%;
  cursor: pointer;
}

.lg-thumb-item.active {
  border-color: hsl(267, 83%, 49%) !important;
}

.lg-thumb-outer {
  background: #fff !important;
}

.lg-close {
  background-color: rgba(0, 0, 0, 0.45) !important;
  border-radius: 50%;
  color: #fff !important;
}

.lg-icon {
  height: 40px;
  line-height: 27px;
  padding: 6px 0;
  text-align: center;
  width: 40px;
}

#lg-prev-2 {
  border-radius: 50%;
  color: #fff;
}

#lg-next-2 {
  border-radius: 50%;
  color: #fff;
}

.breadcrumb-item {
  position: sticky;
  top: 14%;
  left: 0;
  bottom: 0;
  z-index: 999999999999;
  padding-left: 60px;
  border-bottom: 1px solid #dcdbe6;
  background: white;
}
.breadcrumb-item .breadcrumb-index {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 17px 0;
}
.breadcrumb-item .breadcrumb-index a {
  font-size: 14px;
  color: #737279;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  text-decoration: none;
}
.breadcrumb-item .breadcrumb-index a:hover {
  text-decoration: underline;
}
.breadcrumb-item .breadcrumb-index p {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
  margin-bottom: 0;
}

.product-item .product-index {
  display: flex;
  gap: 1.6rem;
}
.product-item .product-index .product-thumbnail .carousel {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.product-item .product-index .product-thumbnail .slides-container {
  display: flex;
  width: 579px;
  height: 579px;
}
.product-item .product-index .product-thumbnail .slide img {
  width: 579px;
  height: 579px;
}
.product-item .product-index .product-thumbnail .slide {
  background: #F6F6F9 !important;
}
.product-item .product-index .product-thumbnail .slides-container a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}
.product-item .product-index .product__content {
  width: 45%;
}
.product-item .product-index .product__content .feedback-index {
  padding-bottom: 10px;
}
.product-item .product-index .product__content .feedback-index svg {
  color: hsl(267, 83%, 49%);
}
.product-item .product-index .product__content .title {
  font-size: 36px;
  font-weight: bold;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .price {
  font-size: 24px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .description {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  margin-bottom: 5px;
}
.product-item .product-index .product__content .promo-text {
  padding-top: 10px;
}
.product-item .product-index .product__content .promo-text span {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .configure-item {
  padding-top: 15px;
}
.product-item .product-index .product__content .configure-item hr {
  width: 41.8%;
  display: inline-block;
  margin: 0;
  padding-top: 3px;
}
.product-item .product-index .product__content .configure-item .border-item {
  border-color: rgb(209, 213, 219);
  border-width: 1px;
  width: 100%;
  display: block;
}
.product-item .product-index .product__content .configure-item span {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.product-item .product-index .product__content .buy-item {
  padding-top: 15px;
}
.product-item .product-index .product__content .buy-item hr {
  width: 45.8%;
  display: inline-block;
  margin: 0;
  padding-top: 3px;
}
.product-item .product-index .product__content .buy-item .border-item {
  border-color: rgb(209, 213, 219);
  border-width: 1px;
  width: 100%;
  display: block;
}
.product-item .product-index .product__content .buy-item span {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.product-item .product-index .product__content .MuiFormGroup-root {
  flex-direction: unset;
}
.product-item .product-index .product__content .seria-list {
  display: flex;
  gap: 0.6rem;
}
.product-item .product-index .product__content .seria-list p {
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .seria-list a {
  color: #0645CB;
  text-decoration: none;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .seria-list a:hover {
  text-decoration: underline;
}
.product-item .product-index .product__content .form-select:target, .product-item .product-index .product__content .form-select:focus {
  color: hsl(267, 83%, 49%) !important;
  border-color: hsl(267, 83%, 49%) !important;
  box-shadow: unset !important;
}
.product-item .product-index .product__content .product-mini-item {
  background: #F6F6F9;
  border-radius: 1px;
  margin-top: 30px;
  padding-top: 35px;
}
.product-item .product-index .product__content .product-mini-item .item-index {
  display: flex;
  padding-left: 15px;
  padding-bottom: 7px;
  padding-top: 10px;
  border-bottom: 1px solid #E9E8EF;
}
.product-item .product-index .product__content .product-mini-item .item-index:last-child {
  border: none;
}
.product-item .product-index .product__content .product-mini-item .item-index .checkbox-index {
  padding-right: 10px;
}
.product-item .product-index .product__content .product-mini-item .item-index .item-title {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
.product-item .product-index .product__content .product-mini-item .item-index .item-price {
  margin-top: auto;
  width: 100%;
  padding-right: 15px;
  display: block;
  text-align: end;
}
.product-item .product-index .product__content .product-mini-item .item-index .item-price span {
  padding-left: 5px;
  font-size: 14px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .product-mini-item .item-index .item-content {
  width: 55%;
}
.product-item .product-index .product__content .product-mini-item .item-index img {
  width: 18%;
}
.product-item .product-index .product__content .product-mini-item .item-index .color-index {
  display: flex;
}
.product-item .product-index .product__content .product-mini-item .item-index .color-index .color-wrapper {
  font-weight: bold;
  padding-right: 8px;
}
.product-item .product-index .product__content .notify-btn {
  text-align: center;
  padding: 26px 0;
}
.product-item .product-index .product__content .notify-btn button {
  width: 100%;
  text-transform: unset;
  background-color: hsl(267, 83%, 49%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1);
  transition: 0.3s ease-in-out;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  padding: 10px 0;
}
.product-item .product-index .product__content .notify-btn button:hover {
  background-color: hsl(266, 90%, 42%);
  transform: scale(1.025);
}
.product-item .product-index .product__content .order-text {
  display: flex;
}
.product-item .product-index .product__content .order-text a {
  text-decoration: none;
  padding-left: 6px;
}
.product-item .product-index .product__content .order-text a:hover {
  text-decoration: underline;
}
.product-item .product-index .product__content .order-text p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
}
.product-item .product-index .product__content .support-module {
  background: #4087F7;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 42px;
  margin-bottom: 40px;
}
.product-item .product-index .product__content .support-module .support-img {
  padding-top: 30px;
  text-align: end;
}
.product-item .product-index .product__content .support-module .support-img img {
  width: 149px;
  height: 149px;
}
.product-item .product-index .product__content .support-module .support-content {
  margin-top: auto;
  margin-bottom: auto;
}
.product-item .product-index .product__content .support-module .support-content h2 {
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.product-item .product-index .product__content .support-module .support-content p {
  font-size: 12px;
  font-family: "Gotham SSm", sans-serif;
  color: white;
}
.product-item .product-index .product__content .support-module .support-content button {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  text-transform: unset;
  font-size: 16px;
  font-family: "Gotham SSm", sans-serif;
}

@media screen and (max-width: 576px) {
  .product-item .product-index {
    flex-wrap: wrap;
  }
  .product-item .product-index .product-thumbnail .slide img {
    width: 58%;
  }
  .product-item .product-index .product__content {
    width: 100%;
  }
  .product-item .product-index .product__content .title {
    font-size: 24px !important;
  }
  .product-item .product-index .product__content .configure-item {
    text-align: center;
  }
  .product-item .product-index .product__content .configure-item hr {
    width: 36.2%;
  }
  .product-item .product-index .product__content .buy-item {
    text-align: center;
  }
  .product-item .product-index .product__content .buy-item hr {
    width: 42%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .product-item .product-index {
    flex-wrap: wrap;
  }
  .product-item .product-index .product-thumbnail .slide img {
    width: 58%;
  }
  .product-item .product-index .product__content {
    width: 100%;
  }
  .product-item .product-index .product__content .title {
    font-size: 24px !important;
  }
  .product-item .product-index .product__content .configure-item {
    text-align: center;
  }
  .product-item .product-index .product__content .configure-item hr {
    width: 36.2%;
  }
  .product-item .product-index .product__content .buy-item {
    text-align: center;
  }
  .product-item .product-index .product__content .buy-item hr {
    width: 42%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .product-item .product-index {
    flex-wrap: wrap;
  }
  .product-item .product-index .product-thumbnail .slide img {
    width: 58%;
  }
  .product-item .product-index .product__content {
    width: 100%;
  }
  .product-item .product-index .product__content .title {
    font-size: 24px !important;
  }
  .product-item .product-index .product__content .configure-item {
    text-align: center;
  }
  .product-item .product-index .product__content .configure-item hr {
    width: 36.2%;
  }
  .product-item .product-index .product__content .buy-item {
    text-align: center;
  }
  .product-item .product-index .product__content .buy-item hr {
    width: 42%;
  }
  .product-mini-item .item-index img {
    width: 11% !important;
    margin-right: 18px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .product-item .product-index .product-thumbnail .slide img {
    width: 58%;
  }
  .product-item .product-index .product__content .title {
    font-size: 24px !important;
  }
  .product-item .product-index .product__content .configure-item {
    text-align: center;
  }
  .product-item .product-index .product__content .configure-item hr {
    width: 36.2%;
  }
  .product-item .product-index .product__content .buy-item {
    text-align: center;
  }
  .product-item .product-index .product__content .buy-item hr {
    width: 42%;
  }
  .product-mini-item .item-index img {
    width: 20% !important;
    margin-right: 18px !important;
  }
  .product-mini-item .item-index .item-content {
    width: 100% !important;
  }
}/*# sourceMappingURL=product-detail.css.map */