.product-wrapper {
    overflow: hidden;

    .graphics-hd {
        max-height: 500px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .graphics-hd-sr {
        display: none;
    }

    .thumbnail-content {
        position: relative;

        .thumbnail-text {
            position: absolute;
            top: 61px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 111111111;
            transform: translate(39%, 50%);

            h1 {
                font-size: 60px;
                font-family: 'Gotham SSm', sans-serif;
                font-weight: bold;
                display: inline-block;
                padding-bottom: 25px;
            }

            p {
                font-size: 16px;
                font-family: 'Gotham SSm', sans-serif;

            }
        }
    }
}

.product-list {
    .product-list-index {
        display: flex;
        gap: 2rem;
    }
}

.product-thumbnail {
    overflow: hidden;

    img {
        width: 100%;
        height: 50%;
    }

    .thumbnail-content {
        position: relative;

        .content-text {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}

.product__thumbnail {
    position: relative;

    .background-img {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 660px;
        object-fit: cover;
    }

    .product__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .product__text {
            padding-top: 30px;
            padding-bottom: 45px;
        }
    }

    .home-img {
        width: 100%;
        height: 659px;
    }

    .product__text {
        text-align: center;
        padding-top: 60px;

        .title {
            font-size: 30px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        .subtitle {
            font-size: 16px;
            font-family: 'Gotham SSm', sans-serif;
            max-width: 23%;
            margin: 0 auto;
            color: #313235;
        }
    }

    .product-img {
        margin-top: 50px;

        .main-img {
            width: 44%;
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }
}

.center-thumbnail {
    padding-top: 20px;
    overflow: hidden;

    h2 {
        font-size: 48px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    p {
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        color: #737279;
        text-align: center;
        max-width: 42%;
        margin: 0 auto;
        padding-bottom: 55px;
    }

    .full-img{
        width: 100%;
    }

    .wrapper-item {
        display: flex;
        gap: 2rem;

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }

        p {
            max-width: 69% !important;
            margin: 0 !important;
            text-align: left !important;
        }
    }

    .center-index {
        display: flex;
        gap: 1.3rem;
        border-radius: 0.375rem;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
        perspective: 1px;


        h2 {
            font-size: 48px;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
        }

        p {
            font-size: 16px;
            font-family: 'Gotham SSm', sans-serif;
            color: #737279;
            text-align: center;
            max-width: 42%;
            margin: 0 auto;
            padding-bottom: 55px;
        }

        .product__content {
            .product__text {
                padding-top: 40px;
                height: auto;
            }

            .product-img {
                height: 62vh;
            }
        }
    }

    .product__item {
        .product-img {
            position: relative;

            .main-img {
                width: 100%;
                padding-bottom: 40px;
            }

            .left-img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1111111111;
                max-width: 100%;
                height: 62vh;
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        .product__content {

            .title {
                font-size: 30px;
                font-family: 'Gotham SSm', sans-serif;
                font-weight: bold;
            }

            .subtitle {
                font-size: 18px;
                font-family: 'Gotham SSm', sans-serif;
                max-width: 80%;
                margin: 0;
                padding-bottom: 10px;
            }

            .link-item {
                a {
                    color: hsl(221deg 94% 41%);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .center-index.full {
        padding: 90px 10px;

        .product__text {
            .title {
                color: #ffff;
                max-width: 74%;
                padding-bottom: 10px;
            }

            .subtitle {
                color: #ffff;
                text-align: left;
            }
        }

        .left-img {
            height: auto;
        }
    }

    .center-index.only-one {
        .left-img {
            border-radius: 0.375rem;
            height: auto;
        }
    }

    .center-index.mini {
        .product__item.mini {
            border-radius: 0.375rem;
            width: 33%;

            svg {
                display: block;
                color: #ffff;
                width: 2.5rem;
                height: 2.5rem;
                margin-top: 40px;
            }

            h3 {
                text-align: center;
                color: #ffff;
            }

            p {
                color: #ffff;
                max-width: 92%;
            }
        }
    }
}

.center-index {
    padding-top: 50px;

    .title {
        font-size: 30px;
        font-family: 'Gotham SSm', sans-serif;
        font-weight: bold;
        text-align: center;
    }

    .subtitle {
        text-align: center;
        font-size: 16px;
        font-family: 'Gotham SSm', sans-serif;
        max-width: 84%;
        margin: 0 auto;
        color: #737279;
    }

    .card__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding-top: 55px;

        .card-full {
            width: 49.47%;
            height: 695px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            border-radius: 0.375rem;

            .multiple-links {
                display: flex;
                gap: 1rem;

                a {
                    color: white;
                }
            }

            .background-img {
                margin-top: 6px;
            }

            .image-block {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;

                img {
                    height: 567px;
                }
            }

            img {
                width: 92%;
                display: block;
                margin: 0 auto;
            }

            .card-item {
                display: block;
                position: relative;

                img {
                    position: absolute;
                    top: -58px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                }
            }
        }

        .card-full-content {
            padding: 2rem;
            min-height: 192px;
            width: 100%;

            h3 {
                font-size: 30px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
                color: #000;
            }

            p {
                font-size: 16px;
                font-family: 'Gotham SSm', sans-serif;
                color: #000;
            }
        }

        .bottom-card {
            display: flex;
            justify-content: center;
            gap: 1.3rem;

            .card-full-bottom {
                width: 100%;

                img {
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                    width: 100%;
                    height: 380px;
                }
            }

            .card__bottom-content {
                background: #F5F5F8;

                .card-body {
                    padding: 2rem;
                    margin: 0 auto;

                    h3 {
                        font-size: 30px;
                        font-family: 'Gotham SSm', sans-serif;
                        font-weight: bold;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-family: 'Gotham SSm', sans-serif;
                    }

                    a {
                        display: block;
                        text-align: center;
                        color: #7135e5;
                        font-family: 'Gotham SSm', sans-serif;
                    }
                }
            }
        }
    }

    .card__main.full {
        .card-full-content {
            min-height: auto;
        }

        .card-full {
            width: 49%;

            img {
                object-fit: cover;
            }
        }
    }
}

.content-grid-block {
    padding-top: 30px;

    .item-index {
        display: flex;
        gap: 1rem;
        padding: 0;



        .item-thumbnail {
            img {
                width: 100%;
                max-height: 75%;
                object-fit: cover;
            }
        }

        .content-item {
            display: flex;
            background-color: #F5F5F8;
            max-height: 75%;

            .content-full {
                max-height: 75%;
                width: 100%;
                margin-top: auto;
                margin-bottom: auto;
                padding: 0 40px;

                img {
                    width: 60%;
                    display: block;
                    margin: 0 auto;
                    padding-bottom: 10px;
                }

                h3 {
                    font-size: 30px;
                    font-family: 'Gotham SSm', sans-serif;
                    font-weight: bold;
                    text-align: center;
                }

                p {
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    text-align: center;
                }

                .content-btn {
                    text-align: center;

                    button {
                        background-color: hsl(267deg 83% 49%);
                        font-size: 16px;
                        font-family: 'Gotham SSm', sans-serif;
                        text-transform: none;
                        padding: 8px 35px;
                        border-radius: 4px;
                        overflow: hidden;
                        perspective: 1px;
                    }
                }
            }
        }


    }
}

@media screen and (max-width: 576px) {


    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            max-height: 500px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
            display: block !important;
        }

        .graphics-hd {
            display: none;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 36px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            .title{
                font-size: 24px !important;
            }
            .subtitle{
                max-width: 73%;
            }
        }
        .product-img{
            margin-top: 0;
            .main-img{
                height: 402px;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .center-index{
        padding-top: 0px;
        .card__main{
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 495px !important;  
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    text-align: center;
                }
            }

            .image-center{

                display: block;
                width: 100%;
                height: 100%;
            }

            .background-img{
                // height: 71% !important;
                // display: block !important;
                // margin: 0 auto !important;
                // width: 350px !important;
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 82% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        .center-index{
            display: block;
        }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                }
            }
        }
        .center-index.full{
            flex-wrap: wrap;
            padding: 10px 10px;
            background-position: 0% !important;
        }
        .center-index.mini{
            flex-wrap: wrap;
            .product__item {
                width: 100% !important;
            }
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: wrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            max-height: 500px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
            display: block !important;
        }

        .graphics-hd {
            display: none;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 36px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            width: 100%;
            .title{
                font-size: 24px !important;
            }
            .subtitle{
                max-width: 80%;
            }
        }
        .product-img{
            width: 100%;
            margin-top: 0;
            .main-img{
                height: 402px;
                object-fit: cover;
                width: 83%;
            }
        }
    }

    .center-index{
        padding-top: 0px;
        .title{
            padding-top: 40px;
        }
        .card__main{
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 495px !important;  
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    text-align: center;
                }
            }

            .image-center{
                display: block;
                width: 100%;
                height: 68%;
            }

            .background-img{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 68% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        // .center-index{
        //     display: block;
        // }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                    width: 55%;
                }
            }
        }
        .center-index.full{
            flex-wrap: wrap;
            padding: 0 10px;
            background-size: unset !important;
            background-position: 0% !important;
        }
        .center-index.mini{
            flex-wrap: wrap;
            .product__item {
                width: 100% !important;
            }
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: wrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            display: none;
        }

        .graphics-hd {
            max-height: 500px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: top;
            display: block !important;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 36px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            width: 100%;
            .title{
                font-size: 24px !important;
            }
            .subtitle{
                max-width: 80%;
            }
        }
        .product-img{
            width: 100%;
            margin-top: 0;
            .main-img{
                height: 402px;
                object-fit: cover;
                width: 83%;
            }
        }
    }

    .center-index{
        padding-top: 0px;
        .title{
            padding-top: 40px;
        }
        .card__main{
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 495px !important;  
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    text-align: center;
                }
            }

            .image-center{
                display: block;
                width: 100%;
                height: 68%;
            }

            .background-img{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 52% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        // .center-index{
        //     display: block;
        // }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                    width: 55%;
                }
            }
        }
        .center-index.full{
            flex-wrap: wrap;
            padding: 0 10px;
            background-size: unset !important;
            background-position: 0% !important;
        }
        .center-index.mini{
            flex-wrap: wrap;
            .product__item {
                width: 100% !important;
            }
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: wrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            display: none;
        }

        .graphics-hd {
            max-height: 500px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position:unset;
            display: block !important;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 36px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            width: 100%;

            .subtitle{
                max-width: 36%;
            }
        }
        .product-img{
            width: 100%;
            margin-top: 0;
            .main-img{
                height: 402px;
                object-fit: cover;
                width: 50%;
            }
        }
    }

    .center-index{
        padding-top: 20px;
        .title{
            padding-top: 40px;
        }
        .card__main{
            flex-wrap: nowrap;
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 495px !important;  
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    text-align: center;
                }
            }

            .image-center{
                display: block;
                width: 100%;
                height: 68%;
            }

            .background-img{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 82% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        .full-img{
            height: 500px !important;
            object-fit: cover;
            object-position: top;
        }
        .product__item{
            margin-top: auto;
            margin-bottom: auto;
            padding: 40px 0;
        }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                    width: 75%;
                }
            }
        }
        .center-index.full{
            flex-wrap: nowrap;
            padding: 0 10px;
        }
        .center-index.mini{
            flex-wrap: nowrap;
            .product__item.mini {
                width: 100% !important;
                height: 312px;
            }
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: nowrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            display: none;
        }

        .graphics-hd {
            max-height: 500px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position:unset;
            display: block !important;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 60px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            width: 100%;

            .subtitle{
                max-width: 36%;
            }
        }
        .product-img{
            width: 100%;
            margin-top: 0;
            .main-img{
                height: 402px;
                object-fit: cover;
                width: 43%;
            }
        }
    }

    .center-index{
        padding-top: 20px;
        .title{
            padding-top: 40px;
        }
        .card__main{
            flex-wrap: nowrap;
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 695px !important;
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    font-size: 18px;
                    text-align: center;
                }
            }

            .image-center{
                display: block;
                width: 100%;
                height: 68%;
            }

            .background-img{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        .full-img{
            height: 500px !important;
            object-fit: cover;
            object-position: top;
        }
        .product__item{
            margin-top: auto;
            margin-bottom: auto;
            padding: 80px 54px;
        }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                    width: 90%;
                }
            }
        }
        .center-index.full{
            flex-wrap: nowrap;
            padding: 0 10px;
            .left-img{
                display: block;
            }
        }
        .center-index.mini{
            flex-wrap: nowrap;
            .product__item.mini {
                width: 100% !important;
                height: 312px;
                padding: 35px 54px;
            }
        }
    }

    .center-thumbnail.full{
        .left-img{
            display: none !important;
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: nowrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 1540px) {
    .product-wrapper {
        max-height: 75vh;
        height: 75vh;

        .graphics-hd-sr {
            display: none;
        }

        .graphics-hd {
            max-height: 650px;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position:unset;
            display: block !important;
        }
    }

    .thumbnail-content {
        .thumbnail-text {
            transform: none !important;

            h1 {
                text-align: center;
                display: block !important;
                font-size: 60px !important;
            }

            p {
                text-align: center;
                display: block;
            }
        }
    }

    .product__thumbnail{
        .product__text{
            width: 100%;

            .subtitle{
                max-width: 17%;
            }
        }
        .product-img{
            width: 100%;
            margin-top: 0;
            .main-img{
                height: 447px;
                width: 36%;
            }
        }
    }

    .center-index{
        padding-top: 20px;
        .title{
            padding-top: 40px;
        }
        .card__main{
            flex-wrap: nowrap;
            padding-top: 0%;
        }
        .subtitle{
            padding-bottom: 34px;
        }
        .card-full{
            width: 100% !important;
            height: 695px !important;
            .card-full-content{
                margin-bottom: -34px;
                h3{
                    text-align: center;
                    font-size: 24px !important;
                }
                p{
                    font-size: 18px;
                    text-align: center;
                }
            }

            .image-center{
                display: block;
                width: 100%;
                height: auto;
            }

            .background-img{
                position: absolute;
                top: auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 84% !important;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                display: flex;
                margin: 0 auto !important;
            }
        }
    }
.center-index.mini{
    svg{
        margin-top: 0 !important;
    }
    .item-thumbnail{
        padding-top: 30px;
    }

    .product__item.mini{
        margin-bottom: 20px;
    }
}

    .center-thumbnail{
        h2{
            font-size: 30px;
        }
        p{
            max-width: 89%;
        }
        .full-img{
            height: 500px !important;
            object-fit: cover;
            object-position: top;
        }
        .product__item{
            margin-top: auto;
            margin-bottom: auto;
            padding: 80px 54px;
        }
        .product__content{
            .title{
                text-align: left;
                font-size: 24px !important;
                max-width: 100% !important;
            }
            .subtitle{
                max-width: 94% !important;
                font-size: 16px !important;
            }
            .product__text{
                padding-top: 25px !important;
            }
            .product-img{
                height: auto !important;
                .left-img{
                    position: static;
                    width: 90%;
                }
            }
        }
        .center-index.full{
            flex-wrap: nowrap;
            padding: 0 10px;
            .left-img{
                display: block;
            }
        }
        .center-index.mini{
            flex-wrap: nowrap;
            .product__item.mini {
                width: 100% !important;
                height: 312px;
                padding: 35px 54px;
            }
        }
    }

    .center-thumbnail.full{
        .left-img{
            display: none !important;
        }
    }

    .content-grid-block{
        .item-index{
            flex-wrap: nowrap;
            .content-full{
                padding: 40px 0 !important;
                max-height: 100% !important;
                p{
                    max-width: 74%;
                    margin: 0 auto;
                    padding-bottom: 15px;
                }
            }
        }
    }
}