.lg-backdrop{
    z-index: 111111111111111 !important;
    background: #ffff !important;
}
.lg-outer{
        z-index: 111111111111111 !important;
    }
.lg-thumb{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    img{
        width: 100%;
        cursor: pointer;
    }

}

.lg-close{
    background-color: rgba(0, 0, 0, 0.45) !important;
    border-radius: 50%;
    color: #fff !important;
}
.lg-icon{
    height: 40px;
    line-height: 27px;
    padding: 6px 0;
    text-align: center;
    width: 40px;
}

#lg-prev-2{
    border-radius: 50%;
    color: #fff;
}
#lg-next-2{
    border-radius: 50%;
    color: #fff;
}
.breadcrumb-item {
    position: sticky;
    top: 14%;
    left: 0;
    bottom: 0;
    z-index: 999999999999;
    padding-left: 60px;
    border-bottom: 1px solid #dcdbe6;
    background: #ffff;

    .breadcrumb-index {
        display: flex;
        gap: .3rem;
        align-items: center;
        padding: 17px 0;

        a {
            font-size: 14px;
            color: #737279;
            font-family: 'Gotham SSm', sans-serif;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        p {
            font-size: 14px;
            font-family: 'Gotham SSm', sans-serif;
            margin-bottom: 0;
        }
    }
}


.product-item {
    .product-index {
        display: flex;
        .product-thumbnail{

            .carousel {
                position: relative;
                margin: 0 auto;
                overflow: hidden;
            }
            
            .slides-container {
                display: flex;
                width: 579px;
                height: 579px;
            }
            
            .slide img {
                width: 579px;
                height: 579px;
            }

            .slide{
                background: #F6F6F9 !important;
            }
            
            .slides-container a {
                display: inline-block;
                text-decoration: none;
                padding: 15px;
                background-color: #fff;
                border-radius: 3px;
                text-transform: uppercase;
                color: #585858;
                font-family: 'Roboto', sans-serif;
            }
            
        }

        .product__content {
            width: 45%;

            .feedback-index {
                padding-bottom: 10px;

                svg {
                    color: hsl(267deg 83% 49%);
                }
            }

            .title {
                font-size: 36px;
                font-weight: bold;
                font-family: 'Gotham SSm', sans-serif;
            }

            .price {
                font-size: 24px;
                font-family: 'Gotham SSm', sans-serif;
            }

            .description {
                font-size: 16px;
                font-family: 'Gotham SSm', sans-serif;
                margin-bottom: 5px;
            }

            .promo-text {
                padding-top: 10px;

                span {
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .configure-item {
                padding-top: 15px;

                hr {
                    width: 41.8%;
                    display: inline-block;
                    margin: 0;
                    padding-top: 3px;
                }

                .border-item {
                    border-color: rgb(209 213 219);
                    border-width: 1px;
                    width: 100%;
                    display: block;
                }

                span {
                    text-align: center;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .buy-item {
                padding-top: 15px;

                hr {
                    width: 45.8%;
                    display: inline-block;
                    margin: 0;
                    padding-top: 3px;
                }

                .border-item {
                    border-color: rgb(209 213 219);
                    border-width: 1px;
                    width: 100%;
                    display: block;
                }

                span {
                    text-align: center;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .MuiFormGroup-root {
                flex-direction: unset;
            }

            .seria-list {
                display: flex;
                gap: .6rem;

                p {
                    font-size: 14px;
                    font-family: 'Gotham SSm', sans-serif;
                }

                a {
                    color: #0645CB;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: 'Gotham SSm', sans-serif;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .form-select {

                &:target,
                &:focus {
                    color: hsl(267deg 83% 49%) !important;
                    border-color: hsl(267deg 83% 49%) !important;
                    box-shadow: unset !important;
                }
            }

            .product-mini-item {
                background: #F6F6F9;
                border-radius: 1px;
                margin-top: 30px;
                padding-top: 35px;

                .item-index {
                    display: flex;
                    padding-left: 15px;
                    padding-bottom: 7px;
                    padding-top: 10px;
                    border-bottom: 1px solid #E9E8EF;

                    &:last-child {
                        border: none;
                    }

                    .checkbox-index {
                        padding-right: 10px;
                    }

                    .item-title {
                        font-size: 16px;
                        font-family: 'Gotham SSm', sans-serif;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .item-price {
                        margin-top: auto;
                        width: 100%;
                        padding-right: 15px;
                        display: block;
                        text-align: end;

                        span {
                            padding-left: 5px;
                            font-size: 14px;
                            font-family: 'Gotham SSm', sans-serif;
                        }
                    }

                    .item-content {
                        width: 55%;
                    }

                    img {
                        width: 18%;
                    }

                    .color-index {
                        display: flex;

                        .color-wrapper {
                            font-weight: bold;
                            padding-right: 8px;
                        }
                    }
                }
            }

            .notify-btn {
                text-align: center;
                padding: 26px 0;

                button {
                    width: 100%;
                    text-transform: unset;
                    background-color: hsl(267deg 83% 49%);
                    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
                    transform: scale(1);
                    transition: .3s ease-in-out;
                    font-size: 16px;
                    font-family: 'Gotham SSm', sans-serif;
                    padding: 10px 0;

                    &:hover {
                        background-color: hsl(266deg 90% 42%);
                        transform: scale(1.025);
                    }
                }
            }

            .order-text {
                display: flex;

                a {
                    text-decoration: none;
                    padding-left: 6px;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    font-size: 12px;
                    font-family: 'Gotham SSm', sans-serif;
                }
            }

            .support-module {
                background: #4087F7;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                padding: 0 42px;
                margin-bottom: 40px;

                .support-img {
                    padding-top: 30px;
                    text-align: end;

                    img {
                        width: 149px;
                        height: 149px;
                    }
                }

                .support-content {
                    margin-top: auto;
                    margin-bottom: auto;

                    h2 {
                        font-size: 16px;
                        font-family: 'Gotham SSm', sans-serif;
                        color: #ffff;
                    }

                    p {
                        font-size: 12px;
                        font-family: 'Gotham SSm', sans-serif;
                        color: #ffff;
                    }


                    button {
                        border: 1px solid #ffff;
                        border-radius: 5px;
                        color: #ffff;
                        text-transform: unset;
                        font-size: 16px;
                        font-family: 'Gotham SSm', sans-serif;
                    }
                }
            }
        }
    }
}

