  
  [class^="number-slide"],
  [class*=" number-slide"] {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 595px;
    max-height: 100vh;
  }
  
  .thumbnail .keen-slider__slide {
    font-size: 30px;
    margin-top: 10px;
    height: 100px;
  }
  .thumbnail .keen-slider__slide {
    cursor: pointer;
  }
  .thumbnail .keen-slider__slide.active {
    border: 2px dashed black;
  }
  .lg-backdrop{
    z-index: 111111111111111 !important;
    background: #ffff !important;
}
.lg-outer{
        z-index: 111111111111111 !important;
    }
.lg-thumb{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    img{
        width: 100%;
        cursor: pointer;
    }

}
.lg-thumb-item.active{
    border-color: hsl(267, 83%, 49%) !important;
}
.lg-thumb-outer{
    background: #fff !important;
}

.lg-close{
    background-color: rgba(0, 0, 0, 0.45) !important;
    border-radius: 50%;
    color: #fff !important;
}
.lg-icon{
    height: 40px;
    line-height: 27px;
    padding: 6px 0;
    text-align: center;
    width: 40px;
}

#lg-prev-2{
    border-radius: 50%;
    color: #fff;
}
#lg-next-2{
    border-radius: 50%;
    color: #fff;
}
.keen-slider{
    img{
        width: 100% !important;
        height: 100% !important;
    }
}
.keen-slider.thumbnail .item-slider.active{
    border: 2px dashed transparent;
}

.keen-slider.thumbnail{
    .item-slider{
        background-color: #fff;
    }

    .item-slider.active{
        border-bottom: 5px solid #dcdbe6;
    }
}
.item-slider-main{
background: #F6F6F9;
}

@media screen and (max-width: 576px) {
    .keen-slider img{
        width: 58%;
        height: 58% !important;
    }
}
@media screen and (min-width: 576px)  and (max-width: 768px){
    .keen-slider img{
        width: 58%;
        height: 58% !important;
    }
}
@media screen and (min-width: 768px)  and (max-width: 992px){
    .keen-slider img{
        width: 58%;
        height: 58% !important;
    }
}
@media screen and (min-width: 992px)  and (max-width: 1200px){
    .keen-slider img{
        width: 58%;
        height: 58% !important;
    }
}
@media screen and (min-width: 1280px)  {
    .keen-slider img{
        width: 58%;
        height: 90% !important;
    }
}
@media screen and (min-width: 1540px)  {
    .keen-slider img{
        width: 58%;
        height: 90% !important;
    }
}

