
.support-main{
    p{
        padding-top: 13px;
        padding-bottom: 5px;
    }

    .btn-main{
        .btn-default{
            padding: 10px 22px;
        }
    }
    .space{
        padding-top: 25px;

        p{
            font-size: 18px;
            font-family: 'Gotham SSm',sans-serif;
        }
    }
}