.support-index{
    padding-top: 60px;
    .support-main{
        display: flex;
        align-items: center;
        .support-content{
            h1{
                font-size: 72px;
                font-family: 'Gotham SSm',sans-serif;
                font-weight: bold;
            }
            p{
                font-size: 18px;
                font-family: 'Gotham SSm',sans-serif;
                color: #313235;
            }
        }
    }
    .support-content{
        padding-left: 90px;
    }
    .support-img{
        display: block;
        margin: 0 auto;
        img{
            display: block;
            margin-left: auto;
            width: 80%;
        }
    }
}

.contact-index{

    .contact-main{
        display: flex;
        margin-top: 100px;

        .contact-about{
            .contact-wrapper{
                margin-top: 20px;
                margin-bottom: 70px;
            }

            h2{
                font-size: 36px;
                font-family: 'Gotham SSm',sans-serif;
                font-weight: bold;
            }

            .btn-main{
                margin: 25px 0;
            }
        }
    }

    .article-main{
        .btn-article{
            margin-top: 10px;
            margin-bottom: 120px;
            text-align: center;
        }
        .article-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;

            .article-item{
                border-top: 1px solid #dcdbe6;
                width: 30.75%;
                h3{
                    padding-top: 20px;
                    width: 100%;
                    font-size: 30px;
                    font-family: 'Gotham SSm',sans-serif;
                }
                p{
                    font-size: 16px;
                    font-family: 'Gotham SSm',sans-serif;
                }
            }
        }
    }
}

@media screen and (max-width: 576px){   
    .contact-index{
        .contact-main{
            flex-wrap: wrap;
        }
        .article-main{
            .article-item{
                width: 100% !important;
                h3{
                    font-size: 20px !important;
                }
            }
        }
    }
    .support-index{
        .support-main{
            flex-wrap: wrap;
            .support-content{
                padding-top: 30px;
                padding-bottom: 40px;
                padding-left: 0;
                text-align: center;
                h1{
                    font-size: 48px;
                }
            }
            .support-img{
                img{
                    margin: 0 auto;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){   
    .contact-index{
        .contact-main{
            flex-wrap: wrap;
        }
        .article-main{
            .article-item{
                width: 100% !important;
                h3{
                    font-size: 20px !important;
                }
            }
        }
    }
    .support-index{
        .support-main{
            flex-wrap: wrap;
            .support-content{
                padding-top: 30px;
                padding-bottom: 40px;
                padding-left: 0;
                text-align: center;
                h1{
                    font-size: 48px;
                }
            }
            .support-img{
                img{
                    margin: 0 auto;
                }
            }
        }
    }
}