@import url('https://fonts.cdnfonts.com/css/gotham-ssm');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-default{
        padding: 9px 45px;
        font-family: 'Gotham SSm', sans-serif;
        font-size: 16px;
        text-transform: none;
        background-color: hsl(267deg 83% 49%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        border-radius: 0.375rem;
        transform: scale(0.98);
        transition: .1s ease-in;
        color: #fff;
        border: none;

        &:hover {
            transform: scale(1);
            background: #5E0BCB;
        }
}