@import url('https://fonts.cdnfonts.com/css/gotham-ssm');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-default{
        padding: 9px 45px;
        font-family: 'Gotham SSm', sans-serif;
        font-size: 16px;
        text-transform: none;
        background-color: hsl(267deg 83% 49%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        border-radius: 0.375rem;
        transform: scale(0.98);
        transition: .1s ease-in;
        color: #fff;
        border: none;

        &:hover {
            transform: scale(1);
            background: #5E0BCB;
        }
}

.overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }
  
  .overlay__container {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: fit-content;
    height: fit-content;
  }
  
  .overlay__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .overlay__close:after {
    display: inline-block;
    content: "\00d7";
  }
  
  .overlay__close {
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
  }

  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .backdrop-main{
      top: 13.5% !important;
      z-index: 0 !important;
    }
  }
  

  @media screen and (min-width: 1200px) {
    .backdrop-main{
      top: 13.5% !important;
      z-index: 0 !important;
    }
  }
  
  @media screen and (min-width: 1500px) {
    .backdrop-main{
      top: 10.5% !important;
      z-index: 0 !important;
    }
  }